<a href="https://colab.research.google.com/github/dlopezuj/TFM_getrificacion_BCN/blob/main/PEC3_natalidad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Procesado de datos referentes a la Natalidad

## 1. Lectura de datos referentes a la natalidad para los años entre 2019 y 2015

In [1]:
# import de las liberías
import pandas as pd 
import numpy as np

In [2]:
# disable chained assignments
pd.options.mode.chained_assignment = None

In [3]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
# se realiza la lectura de los diversos archivos csv y se guardan en cinco datasets (uno para cada año)
df_natalidad_2019=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/natalidad/2019_taxa_natalitat.csv')
df_natalidad_2018=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/natalidad/2018_taxa_natalitat.csv')
df_natalidad_2017=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/natalidad/2017_taxa_natalitat.csv')
df_natalidad_2016=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/natalidad/2016_taxa_natalitat.csv')
df_natalidad_2015=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/natalidad/2015_taxa_natalitat.csv')

## 2. Exploración de los datos

In [5]:
df_natalidad_2019

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Taxa_mil_hab,Nombre
0,2019,1,Ciutat Vella,1,el Raval,Taxa per mil habitants,9.1
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Taxa per mil habitants,6.7
2,2019,1,Ciutat Vella,3,la Barceloneta,Taxa per mil habitants,5.7
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Taxa per mil habitants,6.3
4,2019,2,Eixample,5,el Fort Pienc,Taxa per mil habitants,6.3
...,...,...,...,...,...,...,...
68,2019,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Taxa per mil habitants,12.1
69,2019,10,Sant Martí,70,el Besòs i el Maresme,Taxa per mil habitants,9.6
70,2019,10,Sant Martí,71,Provençals del Poblenou,Taxa per mil habitants,9.0
71,2019,10,Sant Martí,72,Sant Martí de Provençals,Taxa per mil habitants,7.1
72,2019,10,Sant Martí,73,la Verneda i la Pau,Taxa per mil habitants,6.1

In [6]:
df_natalidad_2018

,Any,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Taxa_mil_hab,Nombre
0,2018,1,Ciutat Vella,1,el Raval,Taxa per mil habitants,9.286871
1,2018,1,Ciutat Vella,2,el Barri Gòtic,Taxa per mil habitants,7.530931
2,2018,1,Ciutat Vella,3,la Barceloneta,Taxa per mil habitants,5.563471
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Taxa per mil habitants,6.548260
4,2018,2,Eixample,5,el Fort Pienc,Taxa per mil habitants,8.364138
...,...,...,...,...,...,...,...
68,2018,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Taxa per mil habitants,11.713570
69,2018,10,Sant Martí,70,el Besòs i el Maresme,Taxa per mil habitants,10.474090
70,2018,10,Sant Martí,71,Provençals del Poblenou,Taxa per mil habitants,9.934742
71,2018,10,Sant Martí,72,Sant Martí de Provençals,Taxa per mil habitants,5.958101
72,2018,10,Sant Martí,73,la Verneda i la Pau,Taxa per mil habitants,6.573684

In [7]:
df_natalidad_2017

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Taxa_mil_hab
0,2017,1,Ciutat Vella,1,el Raval,10.5
1,2017,1,Ciutat Vella,2,el Barri Gòtic,6.7
2,2017,1,Ciutat Vella,3,la Barceloneta,6.7
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",7.9
4,2017,2,Eixample,5,el Fort Pienc,7.2
...,...,...,...,...,...,...
68,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,11.8
69,2017,10,Sant Martí,70,el Besòs i el Maresme,9.4
70,2017,10,Sant Martí,71,Provençals del Poblenou,9.0
71,2017,10,Sant Martí,72,Sant Martí de Provençals,7.5
72,2017,10,Sant Martí,73,la Verneda i la Pau,7.9

In [8]:
df_natalidad_2016

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Taxa_mil_hab
0,2016,1,Ciutat Vella,1,el Raval,9.6
1,2016,1,Ciutat Vella,2,el Barri Gòtic,6.2
2,2016,1,Ciutat Vella,3,la Barceloneta,6.1
3,2016,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",7.7
4,2016,2,Eixample,5,el Fort Pienc,8.0
...,...,...,...,...,...,...
68,2016,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,14.0
69,2016,10,Sant Martí,70,el Besòs i el Maresme,7.9
70,2016,10,Sant Martí,71,Provençals del Poblenou,8.3
71,2016,10,Sant Martí,72,Sant Martí de Provençals,7.1
72,2016,10,Sant Martí,73,la Verneda i la Pau,8.2

In [9]:
df_natalidad_2015

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Taxa_mil_hab
0,2015,1,Ciutat Vella,1,el Raval,9.1
1,2015,1,Ciutat Vella,2,el Barri Gòtic,6.4
2,2015,1,Ciutat Vella,3,la Barceloneta,6.5
3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",7.3
4,2015,2,Eixample,5,el Fort Pienc,7.5
...,...,...,...,...,...,...
68,2015,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,13.4
69,2015,10,Sant Martí,70,el Besòs i el Maresme,8.3
70,2015,10,Sant Martí,71,Provençals del Poblenou,9.1
71,2015,10,Sant Martí,72,Sant Martí de Provençals,7.9
72,2015,10,Sant Martí,73,la Verneda i la Pau,7.8

## 3. Transformación de los datos

In [10]:
# elimino las columnas no necesarias de cada uno de los dataframes
df_natalidad_2019_drop = df_natalidad_2019.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Taxa_mil_hab'], axis=1)
df_natalidad_2018_drop = df_natalidad_2018.drop(['Codi_districte', 'Nom_districte', 'Nom_barri', 'Taxa_mil_hab'], axis=1)
df_natalidad_2017_drop = df_natalidad_2017.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri'], axis=1)
df_natalidad_2016_drop = df_natalidad_2016.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri'], axis=1)
df_natalidad_2015_drop = df_natalidad_2015.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri'], axis=1)

In [11]:
# Renombro las columna Codi_barri de los siguientes datasets
df_natalidad_2018_drop.columns = df_natalidad_2018_drop.columns.str.replace('Codi_barri', 'Codi_Barri')
df_natalidad_2017_drop.columns = df_natalidad_2017_drop.columns.str.replace('Codi_barri', 'Codi_Barri')
df_natalidad_2016_drop.columns = df_natalidad_2016_drop.columns.str.replace('Codi_barri', 'Codi_Barri')
df_natalidad_2015_drop.columns = df_natalidad_2015_drop.columns.str.replace('Codi_barri', 'Codi_Barri')

In [12]:
df_natalidad_2019_drop

     Any  Codi_Barri  Nombre
0   2019           1     9.1
1   2019           2     6.7
2   2019           3     5.7
3   2019           4     6.3
4   2019           5     6.3
..   ...         ...     ...
68  2019          69    12.1
69  2019          70     9.6
70  2019          71     9.0
71  2019          72     7.1
72  2019          73     6.1

[73 rows x 3 columns]

In [13]:
# renombro las columnas para poder realizar más adelante la concatenación de los conjuntos
df_natalidad_2019_drop.columns = df_natalidad_2019_drop.columns.str.replace('Nombre', 'Tasa_natalidad_mil_hab')
df_natalidad_2018_drop.columns = df_natalidad_2018_drop.columns.str.replace('Nombre', 'Tasa_natalidad_mil_hab')
df_natalidad_2017_drop.columns = df_natalidad_2017_drop.columns.str.replace('Taxa_mil_hab', 'Tasa_natalidad_mil_hab')
df_natalidad_2016_drop.columns = df_natalidad_2016_drop.columns.str.replace('Taxa_mil_hab', 'Tasa_natalidad_mil_hab')
df_natalidad_2015_drop.columns = df_natalidad_2015_drop.columns.str.replace('Taxa_mil_hab', 'Tasa_natalidad_mil_hab')

In [14]:
df_natalidad_2019_drop

     Any  Codi_Barri  Tasa_natalidad_mil_hab
0   2019           1                     9.1
1   2019           2                     6.7
2   2019           3                     5.7
3   2019           4                     6.3
4   2019           5                     6.3
..   ...         ...                     ...
68  2019          69                    12.1
69  2019          70                     9.6
70  2019          71                     9.0
71  2019          72                     7.1
72  2019          73                     6.1

[73 rows x 3 columns]

In [15]:
df_natalidad_2019_drop.isnull().any()

Any                       False
Codi_Barri                False
Tasa_natalidad_mil_hab    False
dtype: bool

In [16]:
df_natalidad_2018_drop.isnull().any()

Any                       False
Codi_Barri                False
Tasa_natalidad_mil_hab    False
dtype: bool

In [17]:
df_natalidad_2017_drop.isnull().any()

Any                       False
Codi_Barri                False
Tasa_natalidad_mil_hab    False
dtype: bool

In [18]:
df_natalidad_2016_drop.isnull().any()

Any                       False
Codi_Barri                False
Tasa_natalidad_mil_hab    False
dtype: bool

In [19]:
df_natalidad_2015_drop.isnull().any()

Any                       False
Codi_Barri                False
Tasa_natalidad_mil_hab    False
dtype: bool

## 4. Concatenación de los dataframes

In [20]:
# relizamos la concatenación de los datasets en un unico dataset
union_natalidad = pd.concat([df_natalidad_2019_drop, df_natalidad_2018_drop, \
                             df_natalidad_2017_drop, df_natalidad_2016_drop, df_natalidad_2015_drop], ignore_index=True)

In [ ]:
union_natalidad

      Any  Codi_Barri  Tasa_natalidad_mil_hab
0    2019           1                     9.1
1    2019           2                     6.7
2    2019           3                     5.7
3    2019           4                     6.3
4    2019           5                     6.3
..    ...         ...                     ...
360  2015          69                    13.4
361  2015          70                     8.3
362  2015          71                     9.1
363  2015          72                     7.9
364  2015          73                     7.8

[365 rows x 3 columns]

In [21]:
union_natalidad.isna().sum()

Any                       0
Codi_Barri                0
Tasa_natalidad_mil_hab    0
dtype: int64

In [22]:
# La tasa en 2018, tienen una gran cantidad de decimales, para ser consistente con el resto de columnas, dejo únicamente un decimal
union_natalidad['Tasa_natalidad_mil_hab'] = union_natalidad['Tasa_natalidad_mil_hab'].round(decimals = 1)

In [23]:
union_natalidad

      Any  Codi_Barri  Tasa_natalidad_mil_hab
0    2019           1                     9.1
1    2019           2                     6.7
2    2019           3                     5.7
3    2019           4                     6.3
4    2019           5                     6.3
..    ...         ...                     ...
360  2015          69                    13.4
361  2015          70                     8.3
362  2015          71                     9.1
363  2015          72                     7.9
364  2015          73                     7.8

[365 rows x 3 columns]

## 5. Escritura de datos

In [ ]:
union_natalidad.to_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/output_evolucion_demografica/union_natalidad.csv', index = False)