<a href="https://colab.research.google.com/github/dlopezuj/TFM_getrificacion_BCN/blob/main/PEC3_transporte.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Procesado de datos referentes al transporte

## 1. Lectura de datos referentes al transporte para los años entre 2019 y 2015

In [1]:
# import de las liberías
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# disable chained assignments
pd.options.mode.chained_assignment = None

In [3]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
# se realiza la lectura del archivo csv que contiene los datos
df_transporte=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_servicios/transporte/opendatabcn_llista-equipaments_transports-serveis-relacionats-csv.csv')

## 2. Exploracion de los datos

In [6]:
df_transporte

,register_id,name,institution_id,institution_name,created,modified,addresses_roadtype_id,addresses_roadtype_name,addresses_road_id,addresses_road_name,...,values_description,secondary_filters_id,secondary_filters_name,secondary_filters_fullpath,secondary_filters_tree,secondary_filters_asia_id,geo_epgs_25831_x,geo_epgs_25831_y,geo_epgs_4326_x,geo_epgs_4326_y
0,﻿75990405893,Aparcament Bulevard Rosa,NaN,NaN,1996-09-18T00:00:00+02:00,2022-09-17T03:30:42.947170+02:00,NaN,NaN,350308.0,C València,...,NaN,63734068.0,Aparcaments,Planol BCN >> Transports i serveis relacionats...,651.0,6.510301e+13,430044.297816,4.582667e+06,41.392497,2.163220
1,﻿99400312806,Aparcament Esportiu Rocafort,NaN,NaN,2013-03-12T11:16:59+01:00,2022-09-17T07:53:10.229202+02:00,NaN,NaN,285807.0,C Rocafort,...,NaN,63734068.0,Aparcaments,Planol BCN >> Transports i serveis relacionats...,651.0,6.510301e+13,429424.309191,4.581002e+06,41.377441,2.155998
2,﻿75990356604,Aparcament Olle-Fatiax Vol S.L.,NaN,NaN,1996-09-18T00:00:00+02:00,2022-09-17T03:27:29.612105+02:00,NaN,NaN,28000.0,Via Augusta,...,NaN,63734068.0,Aparcaments,Planol BCN >> Transports i serveis relacionats...,651.0,6.510301e+13,428458.053060,4.583477e+06,41.399654,2.144152
3,﻿75990356872,Estació de Servei Mitre S.A,NaN,NaN,1996-09-18T00:00:00+02:00,2022-09-17T03:27:23.687010+02:00,NaN,NaN,352507.0,Pg Vall d'Hebron,...,NaN,63735069.0,Benzineres,Planol BCN >> Transports i serveis relacionats...,651.0,6.510301e+13,428137.521699,4.585705e+06,41.419689,2.140053
4,﻿99400612711,Bikes Barcelona rental,NaN,NaN,2018-11-08T14:24:08+01:00,2022-09-17T10:55:42.473703+02:00,NaN,NaN,197302.0,C Marina,...,NaN,63735068.0,Lloguer de vehicles,Planol BCN >> Transports i serveis relacionats...,651.0,6.510301e+13,431794.344703,4.583185e+06,41.397310,2.184093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7923,﻿99400597658,"Punt d'Ancoratge de Bicicletes * Trav Corts, 88",NaN,NaN,2018-07-10T16:08:29+02:00,2022-09-17T09:34:37.125063+02:00,NaN,NaN,343903.0,Trav Corts,...,NaN,63736069.0,Punts d'ancoratge de bicicletes,Planol BCN >> Transports i serveis relacionats...,651.0,6.510301e+13,426736.088275,4.581251e+06,41.379451,2.123824
7924,﻿99400597661,"Punt d'Ancoratge de Bicicletes * Pg Bonanova, 5",NaN,NaN,2018-07-10T16:08:29+02:00,2022-09-17T09:34:39.607050+02:00,NaN,NaN,44709.0,Pg Bonanova,...,NaN,63736069.0,Punts d'ancoratge de bicicletes,Planol BCN >> Transports i serveis relacionats...,651.0,6.510301e+13,427517.380041,4.584214e+06,41.406205,2.132812
7925,﻿99400597662,"Punt d'Ancoratge de Bicicletes * Via Augusta, 192",NaN,NaN,2018-07-10T16:08:29+02:00,2022-09-17T09:34:39.859296+02:00,NaN,NaN,28000.0,Via Augusta,...,NaN,63736069.0,Punts d'ancoratge de bicicletes,Planol BCN >> Transports i serveis relacionats...,651.0,6.510301e+13,428193.501664,4.583319e+06,41.398204,2.141006
7926,﻿99400597664,"Punt d'Ancoratge de Bicicletes * C Amigó, 11",NaN,NaN,2018-07-10T16:08:29+02:00,2022-09-17T09:34:39.874764+02:00,NaN,NaN,13909.0,C Amigó,...,NaN,63736069.0,Punts d'ancoratge de bicicletes,Planol BCN >> Transports i serveis relacionats...,651.0,6.510301e+13,428580.270999,4.582881e+06,41.394292,2.145684
7927,﻿99400699189,Bike To Deliver,NaN,NaN,2022-10-06T11:47:12.021649+02:00,2022-10-06T11:51:23.294385+02:00,NaN,NaN,196707.0,Carrer de Marià Aguiló,...,NaN,63735068.0,Lloguer de vehicles,Planol BCN >> Transports i serveis relacionats...,651.0,6.510301e+13,433298.459000,4.583687e+06,41.401960,2.202028

## 3. Transformación de los datos

In [7]:
# elimino las filas con Na en el campo de los ID de cada barrios
df_transporte_filtered_na = df_transporte[df_transporte['addresses_neighborhood_id'].notna()]

In [8]:
# realizao un filtrado por los carriles bici, puntos de anclaje y los puntos de Bicing
df_transporte_filtered = df_transporte_filtered_na.loc[(df_transporte_filtered_na['name'].str.contains('Carril ')) \
                                                       | (df_transporte_filtered_na['name'].str.contains('Ancoratge')) \
                                                       #| (df_transporte_filtered_na['name'].str.contains('Parada de taxis')) \
                                                       #| (df_transporte_filtered_na['name'].str.contains("Estació d'Autobusos")) \
                                                       | (df_transporte_filtered_na['name'].str.contains('Bicing'))]

In [9]:
df_transporte_filtered.head()

,register_id,name,institution_id,institution_name,created,modified,addresses_roadtype_id,addresses_roadtype_name,addresses_road_id,addresses_road_name,...,values_description,secondary_filters_id,secondary_filters_name,secondary_filters_fullpath,secondary_filters_tree,secondary_filters_asia_id,geo_epgs_25831_x,geo_epgs_25831_y,geo_epgs_4326_x,geo_epgs_4326_y
11,﻿99400623681,Estació de Bicing 496 *C. Provença,NaN,NaN,2019-03-22T13:20:19+01:00,2022-09-17T11:00:27.546849+02:00,NaN,NaN,268003.0,C Provença,...,"Consultes, Avaries i Incidències <br>",NaN,NaN,NaN,NaN,NaN,431026.308992,4.584034e+06,41.404890,2.174809
111,﻿99400599126,"Punt d'Ancoratge de Bicicletes * Pl Nadal, 1",NaN,NaN,2018-07-10T16:08:39+02:00,2022-09-17T09:52:33.763622+02:00,NaN,NaN,225102.0,Pl Nadal,...,NaN,63736069.0,Punts d'ancoratge de bicicletes,Planol BCN >> Transports i serveis relacionats...,651.0,6.510301e+13,432195.660096,4.586693e+06,41.428938,2.188500
113,﻿99400599132,"Punt d'Ancoratge de Bicicletes * Pg Picasso, 42",NaN,NaN,2018-07-10T16:08:39+02:00,2022-09-17T09:52:36.262752+02:00,NaN,NaN,201400.0,Pg Picasso,...,NaN,63736069.0,Punts d'ancoratge de bicicletes,Planol BCN >> Transports i serveis relacionats...,651.0,6.510301e+13,431882.404106,4.581905e+06,41.385788,2.185290
114,﻿99400599134,Punt d'Ancoratge de Bicicletes * Pl Charles Da...,NaN,NaN,2018-07-10T16:08:39+02:00,2022-09-17T09:52:42.166260+02:00,NaN,NaN,701561.0,Pl Charles Darwin,...,NaN,63736069.0,Punts d'ancoratge de bicicletes,Planol BCN >> Transports i serveis relacionats...,651.0,6.510301e+13,432688.196300,4.581769e+06,41.384632,2.194942
115,﻿99400599144,Punt d'Ancoratge de Bicicletes * Pg Santa Madr...,NaN,NaN,2018-07-10T16:08:39+02:00,2022-09-17T09:52:50.777944+02:00,NaN,NaN,316809.0,Pg Santa Madrona,...,NaN,63736069.0,Punts d'ancoratge de bicicletes,Planol BCN >> Transports i serveis relacionats...,651.0,6.510301e+13,429574.539943,4.579986e+06,41.368310,2.157913

In [10]:
df_transporte_filtered.shape

(3810, 36)

In [11]:
# remove all columns except some
df_transporte_filtered_droped = df_transporte_filtered.loc[:, df_transporte_filtered.columns.intersection(['created','modified', 'addresses_neighborhood_id'])]
#convierto a entero la columna del id de los barrios
df_transporte_filtered_droped['addresses_neighborhood_id'] = df_transporte_filtered_droped['addresses_neighborhood_id'].astype(np.int64)
df_transporte_filtered_droped

,created,modified,addresses_neighborhood_id
11,2019-03-22T13:20:19+01:00,2022-09-17T11:00:27.546849+02:00,6
111,2018-07-10T16:08:39+02:00,2022-09-17T09:52:33.763622+02:00,60
113,2018-07-10T16:08:39+02:00,2022-09-17T09:52:36.262752+02:00,4
114,2018-07-10T16:08:39+02:00,2022-09-17T09:52:42.166260+02:00,3
115,2018-07-10T16:08:39+02:00,2022-09-17T09:52:50.777944+02:00,11
...,...,...,...
7922,2018-07-10T16:08:29+02:00,2022-09-17T09:34:27.671993+02:00,65
7923,2018-07-10T16:08:29+02:00,2022-09-17T09:34:37.125063+02:00,20
7924,2018-07-10T16:08:29+02:00,2022-09-17T09:34:39.607050+02:00,25
7925,2018-07-10T16:08:29+02:00,2022-09-17T09:34:39.859296+02:00,26
7926,2018-07-10T16:08:29+02:00,2022-09-17T09:34:39.874764+02:00,26

In [12]:
df_transporte_filtered_droped.isna().sum()

created                      0
modified                     0
addresses_neighborhood_id    0
dtype: int64

In [14]:
df_transporte_filtered_droped.describe()
# vemos que el valor máximo y mínimo son 73 y 1, coincide con el número de barrios de barcelona

       addresses_neighborhood_id
count                3810.000000
mean                   27.572441
std                    24.644666
min                     1.000000
25%                     7.000000
50%                    19.000000
75%                    52.000000
max                    73.000000

In [15]:
# genero dos nuevas columnas datetime a raiz de las columnas created y modified
df_transporte_filtered_droped['created_new']= pd.to_datetime(df_transporte_filtered_droped['created'],utc=True)
df_transporte_filtered_droped['modified_new']= pd.to_datetime(df_transporte_filtered_droped['modified'],utc=True)

In [16]:
df_transporte_filtered_droped

,created,modified,addresses_neighborhood_id,created_new,modified_new
11,2019-03-22T13:20:19+01:00,2022-09-17T11:00:27.546849+02:00,6,2019-03-22 12:20:19+00:00,2022-09-17 09:00:27.546849+00:00
111,2018-07-10T16:08:39+02:00,2022-09-17T09:52:33.763622+02:00,60,2018-07-10 14:08:39+00:00,2022-09-17 07:52:33.763622+00:00
113,2018-07-10T16:08:39+02:00,2022-09-17T09:52:36.262752+02:00,4,2018-07-10 14:08:39+00:00,2022-09-17 07:52:36.262752+00:00
114,2018-07-10T16:08:39+02:00,2022-09-17T09:52:42.166260+02:00,3,2018-07-10 14:08:39+00:00,2022-09-17 07:52:42.166260+00:00
115,2018-07-10T16:08:39+02:00,2022-09-17T09:52:50.777944+02:00,11,2018-07-10 14:08:39+00:00,2022-09-17 07:52:50.777944+00:00
...,...,...,...,...,...
7922,2018-07-10T16:08:29+02:00,2022-09-17T09:34:27.671993+02:00,65,2018-07-10 14:08:29+00:00,2022-09-17 07:34:27.671993+00:00
7923,2018-07-10T16:08:29+02:00,2022-09-17T09:34:37.125063+02:00,20,2018-07-10 14:08:29+00:00,2022-09-17 07:34:37.125063+00:00
7924,2018-07-10T16:08:29+02:00,2022-09-17T09:34:39.607050+02:00,25,2018-07-10 14:08:29+00:00,2022-09-17 07:34:39.607050+00:00
7925,2018-07-10T16:08:29+02:00,2022-09-17T09:34:39.859296+02:00,26,2018-07-10 14:08:29+00:00,2022-09-17 07:34:39.859296+00:00
7926,2018-07-10T16:08:29+02:00,2022-09-17T09:34:39.874764+02:00,26,2018-07-10 14:08:29+00:00,2022-09-17 07:34:39.874764+00:00

In [17]:
# Creamos 5 conjunto de datos filtrando por las instalaciones referentes al transporte que fueron creadas antes de cada año, para obtener cuantos tenemos para cada año
df_transporte_2019 = df_transporte_filtered_droped[(df_transporte_filtered_droped['created_new'] < '2019-01-01')]
df_transporte_2018 = df_transporte_filtered_droped[(df_transporte_filtered_droped['created_new'] < '2018-01-01')]
df_transporte_2017 = df_transporte_filtered_droped[(df_transporte_filtered_droped['created_new'] < '2017-01-01')]
df_transporte_2016 = df_transporte_filtered_droped[(df_transporte_filtered_droped['created_new'] < '2016-01-01')]
df_transporte_2015 = df_transporte_filtered_droped[(df_transporte_filtered_droped['created_new'] < '2015-01-01')]

In [18]:
# agrupo por barrio y cuento el número de ubicaciones por barrio
grouped_df_transporte_2019 = df_transporte_2019.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_transporte_2018 = df_transporte_2018.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_transporte_2017 = df_transporte_2017.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_transporte_2016 = df_transporte_2016.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_transporte_2015 = df_transporte_2015.groupby(['addresses_neighborhood_id']).count().reset_index()

In [19]:
grouped_df_transporte_2015.head()

   addresses_neighborhood_id  created  modified  created_new  modified_new
0                          1       21        21           21            21
1                          2       13        13           13            13
2                          3       15        15           15            15
3                          4       21        21           21            21
4                          5       19        19           19            19

In [20]:
# eliminamos las columnas que no nos hacen falta
grouped_df_transporte_2019_clean = grouped_df_transporte_2019.drop(['created', 'modified', 'modified_new'], axis=1)
grouped_df_transporte_2018_clean = grouped_df_transporte_2018.drop(['created', 'modified', 'modified_new'], axis=1)
grouped_df_transporte_2017_clean = grouped_df_transporte_2017.drop(['created', 'modified', 'modified_new'], axis=1)
grouped_df_transporte_2016_clean = grouped_df_transporte_2016.drop(['created', 'modified', 'modified_new'], axis=1)
grouped_df_transporte_2015_clean = grouped_df_transporte_2015.drop(['created', 'modified', 'modified_new'], axis=1)

In [21]:
# como hay barrios que no estan representados, genero un dataframe de 73 filas con ceros para tener valores de cada barrrio
df = pd.DataFrame(np.arange(1,74), columns=["addresses_neighborhood_id"])

In [22]:
# realizo el merge de los datos con el dataframe vacio 
merged_df_transporte_2019_clean = df.merge(grouped_df_transporte_2019_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_transporte_2018_clean = df.merge(grouped_df_transporte_2018_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_transporte_2017_clean = df.merge(grouped_df_transporte_2017_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_transporte_2016_clean = df.merge(grouped_df_transporte_2016_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_transporte_2015_clean = df.merge(grouped_df_transporte_2015_clean, on='addresses_neighborhood_id', how='outer').fillna(0)

In [23]:
# creamos una nueva columna donde se indica el año de los datos
merged_df_transporte_2019_clean['Any'] = '2019'
merged_df_transporte_2018_clean['Any'] = '2018'
merged_df_transporte_2017_clean['Any'] = '2017'
merged_df_transporte_2016_clean['Any'] = '2016'
merged_df_transporte_2015_clean['Any'] = '2015'

In [24]:
# visualizamos los resultados
merged_df_transporte_2019_clean

    addresses_neighborhood_id  created_new   Any
0                           1        172.0  2019
1                           2        110.0  2019
2                           3         95.0  2019
3                           4        145.0  2019
4                           5        137.0  2019
..                        ...          ...   ...
68                         69         58.0  2019
69                         70         34.0  2019
70                         71         77.0  2019
71                         72         25.0  2019
72                         73         23.0  2019

[73 rows x 3 columns]

In [25]:
merged_df_transporte_2019_clean.columns = merged_df_transporte_2019_clean.columns.str.replace('created_new', 'transporte')
merged_df_transporte_2018_clean.columns = merged_df_transporte_2018_clean.columns.str.replace('created_new', 'transporte')
merged_df_transporte_2017_clean.columns = merged_df_transporte_2017_clean.columns.str.replace('created_new', 'transporte')
merged_df_transporte_2016_clean.columns = merged_df_transporte_2016_clean.columns.str.replace('created_new', 'transporte')
merged_df_transporte_2015_clean.columns = merged_df_transporte_2015_clean.columns.str.replace('created_new', 'transporte')

In [26]:
merged_df_transporte_2015_clean

    addresses_neighborhood_id  transporte   Any
0                           1        21.0  2015
1                           2        13.0  2015
2                           3        15.0  2015
3                           4        21.0  2015
4                           5        19.0  2015
..                        ...         ...   ...
68                         69        11.0  2015
69                         70        12.0  2015
70                         71        11.0  2015
71                         72         4.0  2015
72                         73         5.0  2015

[73 rows x 3 columns]

## 4. Concatenación de los dataframes

In [27]:
# relizamos la concatenación de los datasets en un unico dataset
union_transporte = pd.concat([merged_df_transporte_2019_clean, merged_df_transporte_2018_clean, merged_df_transporte_2017_clean, \
                             merged_df_transporte_2016_clean, merged_df_transporte_2015_clean], ignore_index=True)

In [28]:
union_transporte

     addresses_neighborhood_id  transporte   Any
0                            1       172.0  2019
1                            2       110.0  2019
2                            3        95.0  2019
3                            4       145.0  2019
4                            5       137.0  2019
..                         ...         ...   ...
360                         69        11.0  2015
361                         70        12.0  2015
362                         71        11.0  2015
363                         72         4.0  2015
364                         73         5.0  2015

[365 rows x 3 columns]

In [29]:
union_transporte.columns = union_transporte.columns.str.replace('addresses_neighborhood_id', 'Codi_Barri')

In [30]:
# revisamos la presencia de valores null
union_transporte.isnull().any()

Codi_Barri    False
transporte    False
Any           False
dtype: bool

In [ ]:
union_transporte

     Codi_Barri  transporte   Any
0             1       172.0  2019
1             2       110.0  2019
2             3        95.0  2019
3             4       145.0  2019
4             5       137.0  2019
..          ...         ...   ...
360          69        11.0  2015
361          70        12.0  2015
362          71        11.0  2015
363          72         4.0  2015
364          73         5.0  2015

[365 rows x 3 columns]

## 5. Escritura de datos

In [ ]:
union_transporte.to_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_servicios/output_evolucion_servicios/union_transporte.csv', index = False)