<a href="https://colab.research.google.com/github/dlopezuj/TFM_getrificacion_BCN/blob/main/PEC3_alquiler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Procesado de datos referentes al precio del alquiler

## 1. Lectura de datos referentes al precio del alquiler para los años entre 2019 y 2015

In [ ]:
# import de las liberías
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [ ]:
# disable chained assignments
pd.options.mode.chained_assignment = None

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# se realiza la lectura de los diversos archivos csv y se guardan en cinco datasets (uno para cada año)
df_alquiler_2019=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_economica/coste alquiler/2019_lloguer_preu_trim.csv')
df_alquiler_2018=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_economica/coste alquiler/2018_lloguer_preu_trim.csv')
df_alquiler_2017=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_economica/coste alquiler/2017_lloguer_preu_trim.csv')
df_alquiler_2016=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_economica/coste alquiler/2016_lloguer_preu_trim.csv')
df_alquiler_2015=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_economica/coste alquiler/2015_lloguer_preu_trim.csv')

In [ ]:
# filtramos los datos para crear un nuevo dataframe únicamente con los resultados de alquiler medio por superficie
alquiler_medio_sup_mesual_2019_trimestres = df_alquiler_2019[df_alquiler_2019['Lloguer_mitja'].str.contains('Lloguer mitjà per superfície (Euros/m2 mes)', regex=False)]
alquiler_medio_sup_mesual_2018_trimestres = df_alquiler_2018[df_alquiler_2018['Lloguer_mitja'].str.contains('Lloguer mitjà per superfície (Euros/m2 mes)', regex=False)]
alquiler_medio_sup_mesual_2017_trimestres = df_alquiler_2017[df_alquiler_2017['Lloguer_mitja'].str.contains('Lloguer mitjà per superfície (Euros/m2 mes)', regex=False)]
alquiler_medio_sup_mesual_2016_trimestres = df_alquiler_2016[df_alquiler_2016['Lloguer_mitja'].str.contains('Lloguer mitjà per superfície (Euros/m2 mes)', regex=False)]
alquiler_medio_sup_mesual_2015_trimestres = df_alquiler_2015[df_alquiler_2015['Lloguer_mitja'].str.contains('Lloguer mitjà per superfície (Euros/m2 mes)', regex=False)]

## 2. Exploración de los datos

In [ ]:
print(f"Shape de alquiler_medio_sup_mesual_2019_trimestres: {alquiler_medio_sup_mesual_2019_trimestres.shape}")
print(f"Shape de alquiler_medio_sup_mesual_2018_trimestres: {alquiler_medio_sup_mesual_2018_trimestres.shape}")
print(f"Shape de alquiler_medio_sup_mesual_2017_trimestres: {alquiler_medio_sup_mesual_2017_trimestres.shape}")
print(f"Shape de alquiler_medio_sup_mesual_2016_trimestres: {alquiler_medio_sup_mesual_2016_trimestres.shape}")
print(f"Shape de alquiler_medio_sup_mesual_2015_trimestres: {alquiler_medio_sup_mesual_2015_trimestres.shape}")

Shape de alquiler_medio_sup_mesual_2019_trimestres: (292, 8)
Shape de alquiler_medio_sup_mesual_2018_trimestres: (292, 8)
Shape de alquiler_medio_sup_mesual_2017_trimestres: (292, 8)
Shape de alquiler_medio_sup_mesual_2016_trimestres: (292, 8)
Shape de alquiler_medio_sup_mesual_2015_trimestres: (292, 8)

In [ ]:
alquiler_medio_sup_mesual_2019_trimestres

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
73,2019,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà per superfície (Euros/m2 mes),14.1
74,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà per superfície (Euros/m2 mes),14.5
75,2019,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà per superfície (Euros/m2 mes),16.8
76,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà per superfície (Euros/m2 mes),14.7
77,2019,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà per superfície (Euros/m2 mes),13.7
...,...,...,...,...,...,...,...,...
579,2019,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),18.5
580,2019,4,10,Sant Martí,70,el Besòs i el Maresme,Lloguer mitjà per superfície (Euros/m2 mes),10.8
581,2019,4,10,Sant Martí,71,Provençals del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),14.5
582,2019,4,10,Sant Martí,72,Sant Martí de Provençals,Lloguer mitjà per superfície (Euros/m2 mes),12.0
583,2019,4,10,Sant Martí,73,la Verneda i la Pau,Lloguer mitjà per superfície (Euros/m2 mes),11.4

In [ ]:
alquiler_medio_sup_mesual_2018_trimestres

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
292,2018,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà per superfície (Euros/m2 mes),13.74
293,2018,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà per superfície (Euros/m2 mes),13.30
294,2018,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà per superfície (Euros/m2 mes),17.10
295,2018,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà per superfície (Euros/m2 mes),14.68
296,2018,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà per superfície (Euros/m2 mes),12.63
...,...,...,...,...,...,...,...,...
579,2018,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),16.84
580,2018,4,10,Sant Martí,70,el Besòs i el Maresme,Lloguer mitjà per superfície (Euros/m2 mes),11.54
581,2018,4,10,Sant Martí,71,Provençals del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),14.27
582,2018,4,10,Sant Martí,72,Sant Martí de Provençals,Lloguer mitjà per superfície (Euros/m2 mes),11.77
583,2018,4,10,Sant Martí,73,la Verneda i la Pau,Lloguer mitjà per superfície (Euros/m2 mes),11.81

In [ ]:
alquiler_medio_sup_mesual_2017_trimestres

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
292,2017,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà per superfície (Euros/m2 mes),13.50
293,2017,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà per superfície (Euros/m2 mes),14.14
294,2017,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà per superfície (Euros/m2 mes),19.46
295,2017,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà per superfície (Euros/m2 mes),15.01
296,2017,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà per superfície (Euros/m2 mes),12.77
...,...,...,...,...,...,...,...,...
579,2017,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),16.51
580,2017,4,10,Sant Martí,70,el Besòs i el Maresme,Lloguer mitjà per superfície (Euros/m2 mes),10.40
581,2017,4,10,Sant Martí,71,Provençals del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),12.66
582,2017,4,10,Sant Martí,72,Sant Martí de Provençals,Lloguer mitjà per superfície (Euros/m2 mes),10.83
583,2017,4,10,Sant Martí,73,la Verneda i la Pau,Lloguer mitjà per superfície (Euros/m2 mes),10.38

In [ ]:
alquiler_medio_sup_mesual_2016_trimestres

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
292,2016,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà per superfície (Euros/m2 mes),11.65
293,2016,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà per superfície (Euros/m2 mes),13.47
294,2016,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà per superfície (Euros/m2 mes),17.30
295,2016,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà per superfície (Euros/m2 mes),12.94
296,2016,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà per superfície (Euros/m2 mes),11.19
...,...,...,...,...,...,...,...,...
579,2016,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),16.69
580,2016,4,10,Sant Martí,70,el Besòs i el Maresme,Lloguer mitjà per superfície (Euros/m2 mes),8.92
581,2016,4,10,Sant Martí,71,Provençals del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),12.66
582,2016,4,10,Sant Martí,72,Sant Martí de Provençals,Lloguer mitjà per superfície (Euros/m2 mes),10.71
583,2016,4,10,Sant Martí,73,la Verneda i la Pau,Lloguer mitjà per superfície (Euros/m2 mes),9.07

In [ ]:
alquiler_medio_sup_mesual_2015_trimestres

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
292,2015,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà per superfície (Euros/m2 mes),10.60
293,2015,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà per superfície (Euros/m2 mes),10.45
294,2015,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà per superfície (Euros/m2 mes),15.67
295,2015,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà per superfície (Euros/m2 mes),11.51
296,2015,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà per superfície (Euros/m2 mes),10.17
...,...,...,...,...,...,...,...,...
579,2015,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),14.90
580,2015,4,10,Sant Martí,70,el Besòs i el Maresme,Lloguer mitjà per superfície (Euros/m2 mes),8.31
581,2015,4,10,Sant Martí,71,Provençals del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),10.89
582,2015,4,10,Sant Martí,72,Sant Martí de Provençals,Lloguer mitjà per superfície (Euros/m2 mes),9.46
583,2015,4,10,Sant Martí,73,la Verneda i la Pau,Lloguer mitjà per superfície (Euros/m2 mes),8.91

In [ ]:
# Identificamos los nulos para cada uno de los conjuntos
print(f"Nulls de alquiler_medio_mesual_sup_2019_trimestres {alquiler_medio_sup_mesual_2019_trimestres.isnull().sum()}")
print(f"Nulls de alquiler_medio_mesual_sup_2018_trimestres {alquiler_medio_sup_mesual_2018_trimestres.isnull().sum()}")
print(f"Nulls de alquiler_medio_mesual_sup_2017_trimestres {alquiler_medio_sup_mesual_2017_trimestres.isnull().sum()}")
print(f"Nulls de alquiler_medio_mesual_sup_2016_trimestres {alquiler_medio_sup_mesual_2016_trimestres.isnull().sum()}")
print(f"Nulls de alquiler_medio_mesual_sup_2015_trimestres {alquiler_medio_sup_mesual_2015_trimestres.isnull().sum()}")

Nulls de alquiler_medio_mesual_sup_2019_trimestres Any                0
Trimestre          0
Codi_Districte     0
Nom_Districte      0
Codi_Barri         0
Nom_Barri          0
Lloguer_mitja      0
Preu              23
dtype: int64
Nulls de alquiler_medio_mesual_sup_2018_trimestres Any                0
Trimestre          0
Codi_Districte     0
Nom_Districte      0
Codi_Barri         0
Nom_Barri          0
Lloguer_mitja      0
Preu              22
dtype: int64
Nulls de alquiler_medio_mesual_sup_2017_trimestres Any                0
Trimestre          0
Codi_Districte     0
Nom_Districte      0
Codi_Barri         0
Nom_Barri          0
Lloguer_mitja      0
Preu              19
dtype: int64
Nulls de alquiler_medio_mesual_sup_2016_trimestres Any                0
Trimestre          0
Codi_Districte     0
Nom_Districte      0
Codi_Barri         0
Nom_Barri          0
Lloguer_mitja      0
Preu              16
dtype: int64
Nulls de alquiler_medio_mesual_sup_2015_trimestres Any                0
Trimestre          0
Codi_Districte     0
Nom_Districte      0
Codi_Barri         0
Nom_Barri          0
Lloguer_mitja      0
Preu              16
dtype: int64

Como vemos, tenemos nulos en el campo precio de los datasets

## 3. Transformación de los datos

In [ ]:
# Se decide reemplazar los valores null, por la media de los precios del alquiler
alquiler_medio_sup_mesual_2019_trimestres['Preu'] = alquiler_medio_sup_mesual_2019_trimestres['Preu'].fillna((alquiler_medio_sup_mesual_2019_trimestres['Preu'].mean()))
alquiler_medio_sup_mesual_2018_trimestres['Preu'] = alquiler_medio_sup_mesual_2018_trimestres['Preu'].fillna((alquiler_medio_sup_mesual_2018_trimestres['Preu'].mean()))
alquiler_medio_sup_mesual_2017_trimestres['Preu'] = alquiler_medio_sup_mesual_2017_trimestres['Preu'].fillna((alquiler_medio_sup_mesual_2017_trimestres['Preu'].mean()))
alquiler_medio_sup_mesual_2016_trimestres['Preu'] = alquiler_medio_sup_mesual_2016_trimestres['Preu'].fillna((alquiler_medio_sup_mesual_2016_trimestres['Preu'].mean()))
alquiler_medio_sup_mesual_2015_trimestres['Preu'] = alquiler_medio_sup_mesual_2015_trimestres['Preu'].fillna((alquiler_medio_sup_mesual_2015_trimestres['Preu'].mean()))

In [ ]:
alquiler_medio_sup_mesual_2015_trimestres.isnull().sum()

Any               0
Trimestre         0
Codi_Districte    0
Nom_Districte     0
Codi_Barri        0
Nom_Barri         0
Lloguer_mitja     0
Preu              0
dtype: int64

In [ ]:
# se eliminan las columnas que no son necesarias
alquiler_medio_sup_mesual_2019 = alquiler_medio_sup_mesual_2019_trimestres.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Trimestre'], axis=1)
alquiler_medio_sup_mesual_2018 = alquiler_medio_sup_mesual_2018_trimestres.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Trimestre'], axis=1)
alquiler_medio_sup_mesual_2017 = alquiler_medio_sup_mesual_2017_trimestres.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Trimestre'], axis=1)
alquiler_medio_sup_mesual_2016 = alquiler_medio_sup_mesual_2016_trimestres.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Trimestre'], axis=1)
alquiler_medio_sup_mesual_2015 = alquiler_medio_sup_mesual_2015_trimestres.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Trimestre'], axis=1)

In [ ]:
# realizamos el calculo de la media del alquiler por barrio
grouped_alquiler_medio_sup_mesual_2019 = alquiler_medio_sup_mesual_2019.groupby(['Codi_Barri']).mean().reset_index()
grouped_alquiler_medio_sup_mesual_2018 = alquiler_medio_sup_mesual_2018.groupby(['Codi_Barri']).mean().reset_index()
grouped_alquiler_medio_sup_mesual_2017 = alquiler_medio_sup_mesual_2017.groupby(['Codi_Barri']).mean().reset_index()
grouped_alquiler_medio_sup_mesual_2016 = alquiler_medio_sup_mesual_2016.groupby(['Codi_Barri']).mean().reset_index()
grouped_alquiler_medio_sup_mesual_2015 = alquiler_medio_sup_mesual_2015.groupby(['Codi_Barri']).mean().reset_index()

In [ ]:
# visualizamos los resultados obtenidos
grouped_alquiler_medio_sup_mesual_2016

    Codi_Barri     Any     Preu
0            1  2016.0  12.2700
1            2  2016.0  13.0100
2            3  2016.0  18.2125
3            4  2016.0  14.0600
4            5  2016.0  11.7400
..         ...     ...      ...
68          69  2016.0  14.2600
69          70  2016.0   8.7775
70          71  2016.0  11.7800
71          72  2016.0   9.9975
72          73  2016.0   9.1225

[73 rows x 3 columns]

In [ ]:
# renombramos la columna preu
grouped_alquiler_medio_sup_mesual_2019.columns = grouped_alquiler_medio_sup_mesual_2019.columns.str.replace('Preu', 'Alquiler_medio(Euros/m2 mes)')
grouped_alquiler_medio_sup_mesual_2018.columns = grouped_alquiler_medio_sup_mesual_2018.columns.str.replace('Preu', 'Alquiler_medio(Euros/m2 mes)')
grouped_alquiler_medio_sup_mesual_2017.columns = grouped_alquiler_medio_sup_mesual_2017.columns.str.replace('Preu', 'Alquiler_medio(Euros/m2 mes)')
grouped_alquiler_medio_sup_mesual_2016.columns = grouped_alquiler_medio_sup_mesual_2016.columns.str.replace('Preu', 'Alquiler_medio(Euros/m2 mes)')
grouped_alquiler_medio_sup_mesual_2015.columns = grouped_alquiler_medio_sup_mesual_2015.columns.str.replace('Preu', 'Alquiler_medio(Euros/m2 mes)')

In [ ]:
grouped_alquiler_medio_sup_mesual_2016

    Codi_Barri     Any  Alquiler_medio(Euros/m2 mes)
0            1  2016.0                       12.2700
1            2  2016.0                       13.0100
2            3  2016.0                       18.2125
3            4  2016.0                       14.0600
4            5  2016.0                       11.7400
..         ...     ...                           ...
68          69  2016.0                       14.2600
69          70  2016.0                        8.7775
70          71  2016.0                       11.7800
71          72  2016.0                        9.9975
72          73  2016.0                        9.1225

[73 rows x 3 columns]

In [ ]:
# revisamos si hay presencia de valores nulos

In [ ]:
grouped_alquiler_medio_sup_mesual_2019.isnull().any()

Codi_Barri                      False
Any                             False
Alquiler_medio(Euros/m2 mes)    False
dtype: bool

In [ ]:
grouped_alquiler_medio_sup_mesual_2018.isnull().any()

Codi_Barri                      False
Any                             False
Alquiler_medio(Euros/m2 mes)    False
dtype: bool

In [ ]:
grouped_alquiler_medio_sup_mesual_2017.isnull().any()

Codi_Barri                      False
Any                             False
Alquiler_medio(Euros/m2 mes)    False
dtype: bool

In [ ]:
grouped_alquiler_medio_sup_mesual_2016.isnull().any()

Codi_Barri                      False
Any                             False
Alquiler_medio(Euros/m2 mes)    False
dtype: bool

In [ ]:
grouped_alquiler_medio_sup_mesual_2015.isnull().any()

Codi_Barri                      False
Any                             False
Alquiler_medio(Euros/m2 mes)    False
dtype: bool

## 4. Concatenación de los dataframes


## Union de dataframes Alquiler medio por superficie

In [ ]:
# relizamos la concatenación de los datasets en un unico dataset
union_alquiler_medio = pd.concat([grouped_alquiler_medio_sup_mesual_2019, grouped_alquiler_medio_sup_mesual_2018, grouped_alquiler_medio_sup_mesual_2017, \
                             grouped_alquiler_medio_sup_mesual_2016, grouped_alquiler_medio_sup_mesual_2015], ignore_index=True)

In [ ]:
union_alquiler_medio

     Codi_Barri     Any  Alquiler_medio(Euros/m2 mes)
0             1  2019.0                       14.3250
1             2  2019.0                       14.2750
2             3  2019.0                       17.4000
3             4  2019.0                       15.1750
4             5  2019.0                       14.0000
..          ...     ...                           ...
360          69  2015.0                       12.4175
361          70  2015.0                        8.2675
362          71  2015.0                        9.9950
363          72  2015.0                        9.3350
364          73  2015.0                        8.9900

[365 rows x 3 columns]

## 5. Escritura de datos

In [ ]:
union_alquiler_medio.to_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_economica/output_evolucion_economica/union_alquiler_medio.csv', index = False)