<a href="https://colab.research.google.com/github/dlopezuj/TFM_getrificacion_BCN/blob/main/PEC3_ocupacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Procesados de datos referentes a la ocupación por vivienda

## 1. Lectura de datos referentes a la ocupación por vivienda para los años entre 2019 y 2015

Link de la fuente de datos: https://opendata-ajuntament.barcelona.cat/data/es/dataset/est-padro-ocupacio-mitjana

In [1]:
# import de las liberías
import pandas as pd 
import numpy as np

In [2]:
# disable chained assignments
pd.options.mode.chained_assignment = None

In [3]:
# Lectura de los dataframes creados
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
# se realiza la lectura de los diversos archivos csv y se guardan en cinco datasets (uno para cada año)
df_ocupacion_2019=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/ocupacion vivienda/2019_padro_ocupacio_mitjana.csv')
df_ocupacion_2018=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/ocupacion vivienda/2018_padro_ocupacio_mitjana.csv')
df_ocupacion_2017=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/ocupacion vivienda/2017_padro_ocupacio_mitjana.csv')
df_ocupacion_2016=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/ocupacion vivienda/2016_padro_ocupacio_mitjana.csv')
df_ocupacion_2015=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/ocupacion vivienda/2015_padro_ocupacio_mitjana.csv')

## 2. Exploracion de los datos

In [6]:
df_ocupacion_2019

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Poblacio,Domicilis,Ocupacio_mitjana_(persones_ per_domicili)
0,2019,1,Ciutat Vella,1,el Raval,48297,17287,2.49
1,2019,1,Ciutat Vella,2,el Barri Gòtic,19180,6616,2.79
2,2019,1,Ciutat Vella,3,la Barceloneta,15173,6962,2.90
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",23170,10269,2.18
4,2019,2,Eixample,5,el Fort Pienc,32649,12825,2.26
...,...,...,...,...,...,...,...,...
68,2019,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,13625,5420,2.49
69,2019,10,Sant Martí,70,el Besòs i el Maresme,24660,8347,2.51
70,2019,10,Sant Martí,71,Provençals del Poblenou,21303,8312,2.95
71,2019,10,Sant Martí,72,Sant Martí de Provençals,26168,10671,2.56
72,2019,10,Sant Martí,73,la Verneda i la Pau,28883,11455,2.45

In [7]:
df_ocupacion_2018

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Poblacio,Domicilis,Ocupacio_mitjana_(persones_ per_domicili)
0,2018,1,Ciutat Vella,1,el Raval,47605,17212,2.77
1,2018,1,Ciutat Vella,2,el Barri Gòtic,17035,6565,2.59
2,2018,1,Ciutat Vella,3,la Barceloneta,14893,6917,2.15
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22605,10238,2.21
4,2018,2,Eixample,5,el Fort Pienc,32080,12831,2.50
...,...,...,...,...,...,...,...,...
68,2018,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,13681,5456,2.51
69,2018,10,Sant Martí,70,el Besòs i el Maresme,23546,8304,2.84
70,2018,10,Sant Martí,71,Provençals del Poblenou,20766,8206,2.53
71,2018,10,Sant Martí,72,Sant Martí de Provençals,26092,10627,2.46
72,2018,10,Sant Martí,73,la Verneda i la Pau,28814,11469,2.51

In [8]:
df_ocupacion_2017

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Poblacio,Domicilis,Ocupacio_mitjana_(persones_ per_domicili)
0,2017,1,Ciutat Vella,1,el Raval,47986,17090,2.81
1,2017,1,Ciutat Vella,2,el Barri Gòtic,16240,6537,2.48
2,2017,1,Ciutat Vella,3,la Barceloneta,15101,6911,2.19
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22923,10154,2.26
4,2017,2,Eixample,5,el Fort Pienc,32048,12838,2.50
...,...,...,...,...,...,...,...,...
68,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,13710,5487,2.50
69,2017,10,Sant Martí,70,el Besòs i el Maresme,22893,8291,2.76
70,2017,10,Sant Martí,71,Provençals del Poblenou,20649,8146,2.53
71,2017,10,Sant Martí,72,Sant Martí de Provençals,26187,10598,2.47
72,2017,10,Sant Martí,73,la Verneda i la Pau,28725,11452,2.51

In [9]:
df_ocupacion_2016

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Poblacio,Domicilis,Ocupacio_mitjana_(persones_ per_domicili)
0,2016,1,Ciutat Vella,1,el Raval,47274,16851,2.81
1,2016,1,Ciutat Vella,2,el Barri Gòtic,15729,6450,2.44
2,2016,1,Ciutat Vella,3,la Barceloneta,15068,6850,2.20
3,2016,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22380,9954,2.25
4,2016,2,Eixample,5,el Fort Pienc,31693,12805,2.48
...,...,...,...,...,...,...,...,...
68,2016,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,13455,5427,2.48
69,2016,10,Sant Martí,70,el Besòs i el Maresme,22609,8267,2.73
70,2016,10,Sant Martí,71,Provençals del Poblenou,20516,8139,2.52
71,2016,10,Sant Martí,72,Sant Martí de Provençals,26031,10584,2.46
72,2016,10,Sant Martí,73,la Verneda i la Pau,28673,11413,2.51

In [10]:
df_ocupacion_2015

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Poblacio,Domicilis,Ocupacio_mitjana_(persones_ per_domicili)
0,2015,1,Ciutat Vella,1,el Raval,47617,16776,2.84
1,2015,1,Ciutat Vella,2,el Barri Gòtic,15269,6461,2.36
2,2015,1,Ciutat Vella,3,la Barceloneta,15036,6820,2.20
3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22305,9869,2.26
4,2015,2,Eixample,5,el Fort Pienc,31645,12880,2.46
...,...,...,...,...,...,...,...,...
69,2015,10,Sant Martí,70,el Besòs i el Maresme,23026,8418,2.74
70,2015,10,Sant Martí,71,Provençals del Poblenou,20244,8093,2.50
71,2015,10,Sant Martí,72,Sant Martí de Provençals,26005,10589,2.46
72,2015,10,Sant Martí,73,la Verneda i la Pau,28678,11409,2.51
73,2015,99,No consta,99,No consta,1,0,0.00

## 3. Transformación de los datos

In [11]:
# elimino las columnas no necesarias de cada uno de los dataframes
df_ocupacion_2019_drop = df_ocupacion_2019.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri','Poblacio', 'Domicilis'], axis=1)
df_ocupacion_2018_drop = df_ocupacion_2018.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri','Poblacio', 'Domicilis'], axis=1)
df_ocupacion_2017_drop = df_ocupacion_2017.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri','Poblacio', 'Domicilis'], axis=1)
df_ocupacion_2016_drop = df_ocupacion_2016.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Poblacio', 'Domicilis'], axis=1)
df_ocupacion_2015_drop = df_ocupacion_2015.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Poblacio', 'Domicilis'], axis=1)

In [12]:
# renombro el nombre de la columna 
df_ocupacion_2019_drop.columns = df_ocupacion_2019_drop.columns.str.replace('Ocupacio_mitjana_(persones_ per_domicili)', 'Ocupacion_media(personas_domicilio)', regex = False)
df_ocupacion_2018_drop.columns = df_ocupacion_2018_drop.columns.str.replace('Ocupacio_mitjana_(persones_ per_domicili)', 'Ocupacion_media(personas_domicilio)', regex = False)
df_ocupacion_2017_drop.columns = df_ocupacion_2017_drop.columns.str.replace('Ocupacio_mitjana_(persones_ per_domicili)', 'Ocupacion_media(personas_domicilio)', regex = False)
df_ocupacion_2016_drop.columns = df_ocupacion_2016_drop.columns.str.replace('Ocupacio_mitjana_(persones_ per_domicili)', 'Ocupacion_media(personas_domicilio)', regex = False)
df_ocupacion_2015_drop.columns = df_ocupacion_2015_drop.columns.str.replace('Ocupacio_mitjana_(persones_ per_domicili)', 'Ocupacion_media(personas_domicilio)', regex = False)

In [13]:
# revisamos los resultados
df_ocupacion_2015_drop

     Any  Codi_Barri  Ocupacion_media(personas_domicilio)
0   2015           1                                 2.84
1   2015           2                                 2.36
2   2015           3                                 2.20
3   2015           4                                 2.26
4   2015           5                                 2.46
..   ...         ...                                  ...
69  2015          70                                 2.74
70  2015          71                                 2.50
71  2015          72                                 2.46
72  2015          73                                 2.51
73  2015          99                                 0.00

[74 rows x 3 columns]

In [14]:
# en el año 2015, encontramos una categoria de barrio definidad como 99, por lo que lo eliminamos de los datos
df_ocupacion_2015_drop = df_ocupacion_2015_drop[(df_ocupacion_2015_drop['Codi_Barri'] != 99)]

In [15]:
df_ocupacion_2015_drop

     Any  Codi_Barri  Ocupacion_media(personas_domicilio)
0   2015           1                                 2.84
1   2015           2                                 2.36
2   2015           3                                 2.20
3   2015           4                                 2.26
4   2015           5                                 2.46
..   ...         ...                                  ...
68  2015          69                                 2.47
69  2015          70                                 2.74
70  2015          71                                 2.50
71  2015          72                                 2.46
72  2015          73                                 2.51

[73 rows x 3 columns]

In [16]:
# revisamos si tenermos valores null en los datos

In [17]:
df_ocupacion_2019_drop.isnull().any()

Any                                    False
Codi_Barri                             False
Ocupacion_media(personas_domicilio)    False
dtype: bool

In [18]:
df_ocupacion_2018_drop.isnull().any()

Any                                    False
Codi_Barri                             False
Ocupacion_media(personas_domicilio)    False
dtype: bool

In [19]:
df_ocupacion_2017_drop.isnull().any()

Any                                    False
Codi_Barri                             False
Ocupacion_media(personas_domicilio)    False
dtype: bool

In [20]:
df_ocupacion_2016_drop.isnull().any()

Any                                    False
Codi_Barri                             False
Ocupacion_media(personas_domicilio)    False
dtype: bool

In [21]:
df_ocupacion_2015_drop.isnull().any()

Any                                    False
Codi_Barri                             False
Ocupacion_media(personas_domicilio)    False
dtype: bool

## 4. Concatenación de los dataframes

In [22]:
union_ocupacion = pd.concat([df_ocupacion_2019_drop, df_ocupacion_2018_drop, df_ocupacion_2017_drop, \
                             df_ocupacion_2016_drop, df_ocupacion_2015_drop], ignore_index=True)

In [23]:
union_ocupacion

      Any  Codi_Barri  Ocupacion_media(personas_domicilio)
0    2019           1                                 2.49
1    2019           2                                 2.79
2    2019           3                                 2.90
3    2019           4                                 2.18
4    2019           5                                 2.26
..    ...         ...                                  ...
360  2015          69                                 2.47
361  2015          70                                 2.74
362  2015          71                                 2.50
363  2015          72                                 2.46
364  2015          73                                 2.51

[365 rows x 3 columns]

In [24]:
# analisis de valores nulos
union_ocupacion.isnull().sum()

Any                                    0
Codi_Barri                             0
Ocupacion_media(personas_domicilio)    0
dtype: int64

## 5. Escritura de datos

In [ ]:
union_ocupacion.to_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/output_evolucion_demografica/union_ocupacion.csv', index=False)