<a href="https://colab.research.google.com/github/dlopezuj/TFM_getrificacion_BCN/blob/main/PEC3_coste_vivienda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Procesado de datos referentes al Coste de la vivienda

## 1. Lectura de datos referentes al coste de la vivienda para los años entre 2019 y 2015

In [17]:
# Import de las librerías
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [18]:
# disable chained assignments
pd.options.mode.chained_assignment = None

In [19]:
# Lectura de datos de Incidentes
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [20]:
# se realiza la lectura de los diversos archivos csv y se guardan en cinco datasets (uno para cada año)
df_precio_2019=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_economica/coste vivienda/2019_comp_vend_preu_trim.csv')
df_precio_2018=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_economica/coste vivienda/2018_comp_vend_preu_trim.csv')
df_precio_2017=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_economica/coste vivienda/2017_comp_vend_preu_trim.csv')
df_precio_2016=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_economica/coste vivienda/2016_comp_vend_preu_trim.csv')
df_precio_2015=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_economica/coste vivienda/2015_comp_vend_preu_trim.csv')

## 2. Exploracion de los datos

In [21]:
df_precio_2019

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Preu_mitja_habitatge,Valor
0,2019,1,1,Ciutat Vella,1,el Raval,Total. Milers d'euros,236.7
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Total. Milers d'euros,411.7
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Total. Milers d'euros,215.6
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Total. Milers d'euros,306.0
4,2019,1,2,Eixample,5,el Fort Pienc,Total. Milers d'euros,582.2
...,...,...,...,...,...,...,...,...
1747,2019,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Usat. Euros/m2 construït,5778.6
1748,2019,4,10,Sant Martí,70,el Besòs i el Maresme,Usat. Euros/m2 construït,3030.9
1749,2019,4,10,Sant Martí,71,Provençals del Poblenou,Usat. Euros/m2 construït,NaN
1750,2019,4,10,Sant Martí,72,Sant Martí de Provençals,Usat. Euros/m2 construït,3555.6
1751,2019,4,10,Sant Martí,73,la Verneda i la Pau,Usat. Euros/m2 construït,2376.1

In [22]:
df_precio_2018

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Preu_mitja_habitatge,Valor
0,2018,1,1,Ciutat Vella,1,el Raval,Total. Milers d'euros,290.4
1,2018,1,1,Ciutat Vella,2,el Barri Gòtic,Total. Milers d'euros,941.2
2,2018,1,1,Ciutat Vella,3,la Barceloneta,Total. Milers d'euros,205.9
3,2018,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Total. Milers d'euros,336.0
4,2018,1,2,Eixample,5,el Fort Pienc,Total. Milers d'euros,516.3
...,...,...,...,...,...,...,...,...
1747,2018,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Usat. Euros/m2 construït,7831.5
1748,2018,4,10,Sant Martí,70,el Besòs i el Maresme,Usat. Euros/m2 construït,3240.3
1749,2018,4,10,Sant Martí,71,Provençals del Poblenou,Usat. Euros/m2 construït,4936.4
1750,2018,4,10,Sant Martí,72,Sant Martí de Provençals,Usat. Euros/m2 construït,2876.5
1751,2018,4,10,Sant Martí,73,la Verneda i la Pau,Usat. Euros/m2 construït,2417.4

In [23]:
df_precio_2017

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Preu_mitja_habitatge,Valor
0,2017,1,1,Ciutat Vella,1,el Raval,Total. Milers d'euros,217.9
1,2017,1,1,Ciutat Vella,2,el Barri Gòtic,Total. Milers d'euros,432.4
2,2017,1,1,Ciutat Vella,3,la Barceloneta,Total. Milers d'euros,207.8
3,2017,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Total. Milers d'euros,300.7
4,2017,1,2,Eixample,5,el Fort Pienc,Total. Milers d'euros,487.7
...,...,...,...,...,...,...,...,...
1747,2017,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Usat. Euros/m2 construït,7219.3
1748,2017,4,10,Sant Martí,70,el Besòs i el Maresme,Usat. Euros/m2 construït,3310.7
1749,2017,4,10,Sant Martí,71,Provençals del Poblenou,Usat. Euros/m2 construït,4799.8
1750,2017,4,10,Sant Martí,72,Sant Martí de Provençals,Usat. Euros/m2 construït,3760.4
1751,2017,4,10,Sant Martí,73,la Verneda i la Pau,Usat. Euros/m2 construït,2183.8

In [24]:
df_precio_2016

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Preu_mitja_habitatge,Valor
0,2016,1,1,Ciutat Vella,1,el Raval,Total. Milers d'euros,142.8
1,2016,1,1,Ciutat Vella,2,el Barri Gòtic,Total. Milers d'euros,380.9
2,2016,1,1,Ciutat Vella,3,la Barceloneta,Total. Milers d'euros,169.6
3,2016,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Total. Milers d'euros,341.4
4,2016,1,2,Eixample,5,el Fort Pienc,Total. Milers d'euros,309.3
...,...,...,...,...,...,...,...,...
1747,2016,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Usat. Euros/m2 construït,5509.6
1748,2016,4,10,Sant Martí,70,el Besòs i el Maresme,Usat. Euros/m2 construït,2153.2
1749,2016,4,10,Sant Martí,71,Provençals del Poblenou,Usat. Euros/m2 construït,3602.4
1750,2016,4,10,Sant Martí,72,Sant Martí de Provençals,Usat. Euros/m2 construït,3403.7
1751,2016,4,10,Sant Martí,73,la Verneda i la Pau,Usat. Euros/m2 construït,1990.2

In [25]:
df_precio_2015

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Preu_mitja_habitatge,Valor
0,2015,1,1,Ciutat Vella,1,el Raval,Total. Milers d'euros,142.8
1,2015,1,1,Ciutat Vella,2,el Barri Gòtic,Total. Milers d'euros,380.9
2,2015,1,1,Ciutat Vella,3,la Barceloneta,Total. Milers d'euros,169.6
3,2015,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Total. Milers d'euros,341.4
4,2015,1,2,Eixample,5,el Fort Pienc,Total. Milers d'euros,309.3
...,...,...,...,...,...,...,...,...
1747,2015,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Usat. Euros/m2 construït,5509.6
1748,2015,4,10,Sant Martí,70,el Besòs i el Maresme,Usat. Euros/m2 construït,2153.2
1749,2015,4,10,Sant Martí,71,Provençals del Poblenou,Usat. Euros/m2 construït,3602.4
1750,2015,4,10,Sant Martí,72,Sant Martí de Provençals,Usat. Euros/m2 construït,3403.7
1751,2015,4,10,Sant Martí,73,la Verneda i la Pau,Usat. Euros/m2 construït,1990.2

## 3. Transformación de los datos

In [26]:
# realizamos un filtrado de los datos, para obtener únicamente el precio total en euros por m2 construido
precio_medio_2019_trimestres = df_precio_2019[df_precio_2019['Preu_mitja_habitatge'].str.contains("Total. Euros/m2 construït", regex=False)]
precio_medio_2018_trimestres = df_precio_2018[df_precio_2018['Preu_mitja_habitatge'].str.contains("Total. Euros/m2 construït", regex=False)]
precio_medio_2017_trimestres = df_precio_2017[df_precio_2017['Preu_mitja_habitatge'].str.contains("Total. Euros/m2 construït", regex=False)]
precio_medio_2016_trimestres = df_precio_2016[df_precio_2016['Preu_mitja_habitatge'].str.contains("Total. Euros/m2 construït", regex=False)]
precio_medio_2015_trimestres = df_precio_2015[df_precio_2015['Preu_mitja_habitatge'].str.contains("Total. Euros/m2 construït", regex=False)]

In [27]:
# visualizamos los resultados
precio_medio_2015_trimestres

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Preu_mitja_habitatge,Valor
219,2015,1,1,Ciutat Vella,1,el Raval,Total. Euros/m2 construït,2813.0
220,2015,1,1,Ciutat Vella,2,el Barri Gòtic,Total. Euros/m2 construït,4152.9
221,2015,1,1,Ciutat Vella,3,la Barceloneta,Total. Euros/m2 construït,3927.2
222,2015,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Total. Euros/m2 construït,3979.2
223,2015,1,2,Eixample,5,el Fort Pienc,Total. Euros/m2 construït,3443.1
...,...,...,...,...,...,...,...,...
1601,2015,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Total. Euros/m2 construït,5130.7
1602,2015,4,10,Sant Martí,70,el Besòs i el Maresme,Total. Euros/m2 construït,2146.6
1603,2015,4,10,Sant Martí,71,Provençals del Poblenou,Total. Euros/m2 construït,3429.4
1604,2015,4,10,Sant Martí,72,Sant Martí de Provençals,Total. Euros/m2 construït,3393.3
1605,2015,4,10,Sant Martí,73,la Verneda i la Pau,Total. Euros/m2 construït,1993.9

In [28]:
# identificamos el tipo de variable en cada columna
precio_medio_2015_trimestres.dtypes

Any                       int64
Trimestre                 int64
Codi_Districte            int64
Nom_Districte            object
Codi_Barri                int64
Nom_Barri                object
Preu_mitja_habitatge     object
Valor                   float64
dtype: object

In [29]:
# eliminamos las columnas que no necesitamos
precio_medio_2019_trimestres = precio_medio_2019_trimestres.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Trimestre', 'Preu_mitja_habitatge'], axis=1)
precio_medio_2018_trimestres = precio_medio_2018_trimestres.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Trimestre', 'Preu_mitja_habitatge'], axis=1)
precio_medio_2017_trimestres = precio_medio_2017_trimestres.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Trimestre', 'Preu_mitja_habitatge'], axis=1)
precio_medio_2016_trimestres = precio_medio_2016_trimestres.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Trimestre', 'Preu_mitja_habitatge'], axis=1)
precio_medio_2015_trimestres = precio_medio_2015_trimestres.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Trimestre', 'Preu_mitja_habitatge'], axis=1)

In [30]:
# visualizamos los resultados
precio_medio_2015_trimestres

       Any  Codi_Barri   Valor
219   2015           1  2813.0
220   2015           2  4152.9
221   2015           3  3927.2
222   2015           4  3979.2
223   2015           5  3443.1
...    ...         ...     ...
1601  2015          69  5130.7
1602  2015          70  2146.6
1603  2015          71  3429.4
1604  2015          72  3393.3
1605  2015          73  1993.9

[292 rows x 3 columns]

In [31]:
# Se identifican valores erróneos o ausentes en la columna referente al valor de la vivienda, por lo que procedemos a imputar estos valores con el valor de la media del precio de venta
precio_medio_2019_trimestres['Valor'] = precio_medio_2019_trimestres['Valor'].replace('--', np.nan, regex = False)
precio_medio_2018_trimestres['Valor'] = precio_medio_2018_trimestres['Valor'].replace('--', np.nan, regex = False)
precio_medio_2017_trimestres['Valor'] = precio_medio_2017_trimestres['Valor'].replace('--', np.nan, regex = False)
precio_medio_2016_trimestres['Valor'] = precio_medio_2016_trimestres['Valor'].replace('--', np.nan, regex = False)
precio_medio_2015_trimestres['Valor'] = precio_medio_2015_trimestres['Valor'].replace('--', np.nan, regex = False)

In [32]:
precio_medio_2019_trimestres['Valor'] = precio_medio_2019_trimestres['Valor'].astype(np.float64)
precio_medio_2018_trimestres['Valor'] = precio_medio_2018_trimestres['Valor'].astype(np.float64)
precio_medio_2017_trimestres['Valor'] = precio_medio_2017_trimestres['Valor'].astype(np.float64)
precio_medio_2016_trimestres['Valor'] = precio_medio_2016_trimestres['Valor'].astype(np.float64)
precio_medio_2015_trimestres['Valor'] = precio_medio_2015_trimestres['Valor'].astype(np.float64)

In [33]:
precio_medio_2019_trimestres['Valor'] = precio_medio_2019_trimestres['Valor'].fillna((precio_medio_2019_trimestres['Valor'].mean()))
precio_medio_2018_trimestres['Valor'] = precio_medio_2018_trimestres['Valor'].fillna((precio_medio_2018_trimestres['Valor'].mean()))
precio_medio_2017_trimestres['Valor'] = precio_medio_2017_trimestres['Valor'].fillna((precio_medio_2017_trimestres['Valor'].mean()))
precio_medio_2016_trimestres['Valor'] = precio_medio_2016_trimestres['Valor'].fillna((precio_medio_2016_trimestres['Valor'].mean()))
precio_medio_2015_trimestres['Valor'] = precio_medio_2015_trimestres['Valor'].fillna((precio_medio_2015_trimestres['Valor'].mean()))

In [34]:
precio_medio_2019_trimestres.isnull().any()

Any           False
Codi_Barri    False
Valor         False
dtype: bool

In [35]:
precio_medio_2019_trimestres.dtypes

Any             int64
Codi_Barri      int64
Valor         float64
dtype: object

In [36]:
precio_medio_2019_trimestres

       Any  Codi_Barri   Valor
219   2019           1  3775.1
220   2019           2  4885.9
221   2019           3  5079.5
222   2019           4  4682.5
223   2019           5  4919.3
...    ...         ...     ...
1601  2019          69  5778.6
1602  2019          70  3257.3
1603  2019          71  2683.2
1604  2019          72  3555.6
1605  2019          73  2415.8

[292 rows x 3 columns]

In [37]:
# Como los datos vienen por trimestres, realizamos la agrupación por barrio y calculamos el precio medio de venta por barrio
grouped_precio_medio_2019 = precio_medio_2019_trimestres.groupby(['Codi_Barri']).mean().reset_index()
grouped_precio_medio_2018 = precio_medio_2018_trimestres.groupby(['Codi_Barri']).mean().reset_index()
grouped_precio_medio_2017 = precio_medio_2017_trimestres.groupby(['Codi_Barri']).mean().reset_index()
grouped_precio_medio_2016 = precio_medio_2016_trimestres.groupby(['Codi_Barri']).mean().reset_index()
grouped_precio_medio_2015 = precio_medio_2015_trimestres.groupby(['Codi_Barri']).mean().reset_index()

In [38]:
# visualizamos los resultados
grouped_precio_medio_2015

    Codi_Barri     Any     Valor
0            1  2015.0  2807.075
1            2  2015.0  4255.375
2            3  2015.0  4160.150
3            4  2015.0  3677.250
4            5  2015.0  3792.425
..         ...     ...       ...
68          69  2015.0  5516.975
69          70  2015.0  2270.225
70          71  2015.0  3125.150
71          72  2015.0  3119.300
72          73  2015.0  1795.525

[73 rows x 3 columns]

In [39]:
# se renombra la columna valor para ser más descriptiva
grouped_precio_medio_2019.columns = grouped_precio_medio_2019.columns.str.replace('Valor', 'precio_vivienda_Euros/m2')
grouped_precio_medio_2018.columns = grouped_precio_medio_2018.columns.str.replace('Valor', 'precio_vivienda_Euros/m2')
grouped_precio_medio_2017.columns = grouped_precio_medio_2017.columns.str.replace('Valor', 'precio_vivienda_Euros/m2')
grouped_precio_medio_2016.columns = grouped_precio_medio_2016.columns.str.replace('Valor', 'precio_vivienda_Euros/m2')
grouped_precio_medio_2015.columns = grouped_precio_medio_2015.columns.str.replace('Valor', 'precio_vivienda_Euros/m2')

In [40]:
grouped_precio_medio_2019.isnull().any()

Codi_Barri                  False
Any                         False
precio_vivienda_Euros/m2    False
dtype: bool

## 4. Concatenación de los dataframes

In [41]:
# relizamos la concatenación de los datasets en un unico dataset

In [42]:
union_precio_medio = pd.concat([grouped_precio_medio_2019, grouped_precio_medio_2018, grouped_precio_medio_2017, \
                             grouped_precio_medio_2016, grouped_precio_medio_2015], ignore_index=True)

In [43]:
union_precio_medio

     Codi_Barri     Any  precio_vivienda_Euros/m2
0             1  2019.0                  3561.300
1             2  2019.0                  5067.000
2             3  2019.0                  4884.000
3             4  2019.0                  4419.775
4             5  2019.0                  4946.525
..          ...     ...                       ...
360          69  2015.0                  5516.975
361          70  2015.0                  2270.225
362          71  2015.0                  3125.150
363          72  2015.0                  3119.300
364          73  2015.0                  1795.525

[365 rows x 3 columns]

## 5. Escritura de datos

In [ ]:
union_precio_medio.to_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_economica/output_evolucion_economica/union_precio_medio.csv', index = False)