<a href="https://colab.research.google.com/github/dlopezuj/TFM_getrificacion_BCN/blob/main/PEC_Hoteles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Procesado de datos referentes a los Hoteles

## 1. Lectura de datos referentes a los hoteles para los años entre 2019 y 2015

In [1]:
# import de las liberías
import pandas as pd 
import numpy as np

In [2]:
# disable chained assignments
pd.options.mode.chained_assignment = None

In [4]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
# se realiza la lectura del archivo csv que contiene los datos
df_hoteles=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_servicios/Hoteles/opendatabcn_allotjament_hotels-csv.csv')

## 2. Exploracion de los datos

In [6]:
df_hoteles

,register_id,name,institution_id,institution_name,created,modified,addresses_roadtype_id,addresses_roadtype_name,addresses_road_id,addresses_road_name,...,values_description,secondary_filters_id,secondary_filters_name,secondary_filters_fullpath,secondary_filters_tree,secondary_filters_asia_id,geo_epgs_25831_x,geo_epgs_25831_y,geo_epgs_4326_x,geo_epgs_4326_y
0,﻿75990303344,Park Hotel - HB-000082,NaN,NaN,1996-09-18T00:00:00+02:00,2022-09-17T03:22:08.495870+02:00,NaN,NaN,198203,Av Marquès de l'Argentera,...,NaN,54731070,Hotels 3 estr.,Planol BCN >> Allotjament >> Hotels >> Hotels ...,651,65103001000002,431804.102902,4.581735e+06,41.384254,2.184372
1,﻿99400316659,Hotel Travelodge Barcelona Poblenou - HB-004514,NaN,NaN,2013-04-24T17:26:25+02:00,2022-09-17T07:53:43.322628+02:00,NaN,NaN,186703,C Llull,...,NaN,54731072,Hotels 1 estr.,Planol BCN >> Allotjament >> Hotels >> Hotels ...,651,65103001000004,433215.185838,4.583475e+06,41.400044,2.201056
2,﻿75990274296,Hotel Catalonia Diagonal Centro - HB-003918,NaN,NaN,1996-09-18T00:00:00+02:00,2022-09-17T03:18:44.907834+02:00,NaN,NaN,32700,C Balmes,...,NaN,54731069,Hotels 4 estr.,Planol BCN >> Allotjament >> Hotels >> Hotels ...,651,65103001000001,429509.819977,4.582828e+06,41.393900,2.156808
3,﻿75990711040,Hotel Spa Senator Barcelona - HB-004145,NaN,NaN,2001-09-01T00:00:00+02:00,2022-09-17T03:42:17.647564+02:00,NaN,NaN,65200,C Cardenal Reig,...,NaN,54731069,Hotels 4 estr.,Planol BCN >> Allotjament >> Hotels >> Hotels ...,651,65103001000001,425899.607466,4.580990e+06,41.377018,2.113853
4,﻿75990048361,Hotel Acta Antibes - HB-000241,NaN,NaN,1996-09-18T00:00:00+02:00,2022-03-11T14:25:44.566881+01:00,NaN,NaN,100800,C Diputació,...,NaN,54731071,Hotels 2 estr.,Planol BCN >> Allotjament >> Hotels >> Hotels ...,651,65103001000003,431292.852547,4.583327e+06,41.398545,2.178078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,﻿75990704606,Hotel Catalonia Barcelona Golf - HB-004084,NaN,NaN,2001-06-09T00:00:00+02:00,2022-09-17T03:42:00.142943+02:00,NaN,NaN,344101,Trav Gràcia,...,NaN,54731070,Hotels 3 estr.,Planol BCN >> Allotjament >> Hotels >> Hotels ...,651,65103001000002,429062.446247,4.583195e+06,41.397160,2.151415
437,﻿99400692556,Hotel Paxton Barcelona - HB-004941,NaN,NaN,2022-05-24T12:39:28.325472+02:00,2022-05-24T12:42:16.688269+02:00,NaN,NaN,186703,Carrer de Llull,...,NaN,54731069,Hotels 4 estr.,Planol BCN >> Allotjament >> Hotels >> Hotels ...,651,65103001000001,433144.743000,4.583404e+06,41.399400,2.200221
438,﻿99400392716,Hotel-Apartament Murmuri Residence - HB-004674,NaN,NaN,2015-07-30T18:17:50+02:00,2022-09-17T08:26:16.321496+02:00,NaN,NaN,86006,Ptge Concepció,...,NaN,54731071,Hotels 2 estr.,Planol BCN >> Allotjament >> Hotels >> Hotels ...,651,65103001000003,429777.463364,4.582886e+06,41.394444,2.160003
439,﻿99400392719,Hotel Acta Bcn 40 - HB-004468,NaN,NaN,2015-07-30T18:23:51+02:00,2022-09-17T08:26:16.415760+02:00,NaN,NaN,167709,C Joaquín Costa,...,NaN,54731071,Hotels 2 estr.,Planol BCN >> Allotjament >> Hotels >> Hotels ...,651,65103001000003,430248.033063,4.581573e+06,41.382663,2.165782
440,﻿99400392727,Hotel Brummel - HB-004668,NaN,NaN,2015-07-30T18:36:17+02:00,2022-09-17T08:26:20.027321+02:00,NaN,NaN,86902,C Nou de la Rambla,...,NaN,54731070,Hotels 3 estr.,Planol BCN >> Allotjament >> Hotels >> Hotels ...,651,65103001000002,430294.542863,4.580354e+06,41.371682,2.166479

hay muchas columnas que contienen una gran cantidad de NaN y que no nos hacen falta, por tanto eliminamos estas columnas

In [7]:
# mostramos las columnas del conjunto de datos
df_hoteles.columns

Index(['register_id', 'name', 'institution_id', 'institution_name', 'created',
       'modified', 'addresses_roadtype_id', 'addresses_roadtype_name',
       'addresses_road_id', 'addresses_road_name',
       'addresses_start_street_number', 'addresses_end_street_number',
       'addresses_neighborhood_id', 'addresses_neighborhood_name',
       'addresses_district_id', 'addresses_district_name',
       'addresses_zip_code', 'addresses_town', 'addresses_main_address',
       'addresses_type', 'values_id', 'values_attribute_id', 'values_category',
       'values_attribute_name', 'values_value', 'values_outstanding',
       'values_description', 'secondary_filters_id', 'secondary_filters_name',
       'secondary_filters_fullpath', 'secondary_filters_tree',
       'secondary_filters_asia_id', 'geo_epgs_25831_x', 'geo_epgs_25831_y',
       'geo_epgs_4326_x', 'geo_epgs_4326_y'],
      dtype='object')

## 3. Transformación de los datos

In [8]:
# eliminamos las columnas que no son necesarias
df_hoteles = df_hoteles.drop(['register_id', 'institution_id', 'institution_name','addresses_roadtype_id', 'addresses_roadtype_name', 'addresses_road_id', 'addresses_road_name' ,\
                              'addresses_start_street_number', 'addresses_end_street_number', 'addresses_neighborhood_name', \
                              'addresses_district_id', 'addresses_district_name', 'addresses_zip_code', 'addresses_town', 'addresses_main_address', \
                              'addresses_type', 'values_id', 'values_attribute_id', 'values_category', 'values_attribute_name', 'values_value', 'values_outstanding', \
                              'values_description', 'secondary_filters_id','secondary_filters_fullpath', 'secondary_filters_tree', \
                              'secondary_filters_asia_id', 'geo_epgs_25831_x', 'geo_epgs_25831_y', 'geo_epgs_4326_x', 'geo_epgs_4326_y', 'secondary_filters_name' \
                              ], axis=1)

In [9]:
# visualizamos los resultados
df_hoteles

,name,created,modified,addresses_neighborhood_id
0,Park Hotel - HB-000082,1996-09-18T00:00:00+02:00,2022-09-17T03:22:08.495870+02:00,4
1,Hotel Travelodge Barcelona Poblenou - HB-004514,2013-04-24T17:26:25+02:00,2022-09-17T07:53:43.322628+02:00,68
2,Hotel Catalonia Diagonal Centro - HB-003918,1996-09-18T00:00:00+02:00,2022-09-17T03:18:44.907834+02:00,7
3,Hotel Spa Senator Barcelona - HB-004145,2001-09-01T00:00:00+02:00,2022-09-17T03:42:17.647564+02:00,20
4,Hotel Acta Antibes - HB-000241,1996-09-18T00:00:00+02:00,2022-03-11T14:25:44.566881+01:00,5
...,...,...,...,...
436,Hotel Catalonia Barcelona Golf - HB-004084,2001-06-09T00:00:00+02:00,2022-09-17T03:42:00.142943+02:00,26
437,Hotel Paxton Barcelona - HB-004941,2022-05-24T12:39:28.325472+02:00,2022-05-24T12:42:16.688269+02:00,68
438,Hotel-Apartament Murmuri Residence - HB-004674,2015-07-30T18:17:50+02:00,2022-09-17T08:26:16.321496+02:00,7
439,Hotel Acta Bcn 40 - HB-004468,2015-07-30T18:23:51+02:00,2022-09-17T08:26:16.415760+02:00,1
440,Hotel Brummel - HB-004668,2015-07-30T18:36:17+02:00,2022-09-17T08:26:20.027321+02:00,11

Al eliminar duplicados, vemos que no existen

In [10]:
df_hoteles = df_hoteles.drop_duplicates()
df_hoteles

,name,created,modified,addresses_neighborhood_id
0,Park Hotel - HB-000082,1996-09-18T00:00:00+02:00,2022-09-17T03:22:08.495870+02:00,4
1,Hotel Travelodge Barcelona Poblenou - HB-004514,2013-04-24T17:26:25+02:00,2022-09-17T07:53:43.322628+02:00,68
2,Hotel Catalonia Diagonal Centro - HB-003918,1996-09-18T00:00:00+02:00,2022-09-17T03:18:44.907834+02:00,7
3,Hotel Spa Senator Barcelona - HB-004145,2001-09-01T00:00:00+02:00,2022-09-17T03:42:17.647564+02:00,20
4,Hotel Acta Antibes - HB-000241,1996-09-18T00:00:00+02:00,2022-03-11T14:25:44.566881+01:00,5
...,...,...,...,...
436,Hotel Catalonia Barcelona Golf - HB-004084,2001-06-09T00:00:00+02:00,2022-09-17T03:42:00.142943+02:00,26
437,Hotel Paxton Barcelona - HB-004941,2022-05-24T12:39:28.325472+02:00,2022-05-24T12:42:16.688269+02:00,68
438,Hotel-Apartament Murmuri Residence - HB-004674,2015-07-30T18:17:50+02:00,2022-09-17T08:26:16.321496+02:00,7
439,Hotel Acta Bcn 40 - HB-004468,2015-07-30T18:23:51+02:00,2022-09-17T08:26:16.415760+02:00,1
440,Hotel Brummel - HB-004668,2015-07-30T18:36:17+02:00,2022-09-17T08:26:20.027321+02:00,11

In [11]:
df_hoteles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 440
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       441 non-null    object
 1   created                    441 non-null    object
 2   modified                   441 non-null    object
 3   addresses_neighborhood_id  441 non-null    int64
dtypes: int64(1), object(3)
memory usage: 17.2+ KB

In [12]:
# creamos nuevas columnas de tipo datetime a raiz de creación y modificación, estas columnas parecen indicar cuando se creó el lugar y cuando se ha hecho una última modificación en el documento
df_hoteles['created_new']= pd.to_datetime(df_hoteles['created'],utc=True)
df_hoteles['modified_new']= pd.to_datetime(df_hoteles['modified'],utc=True)

In [13]:
df_hoteles

,name,created,modified,addresses_neighborhood_id,created_new,modified_new
0,Park Hotel - HB-000082,1996-09-18T00:00:00+02:00,2022-09-17T03:22:08.495870+02:00,4,1996-09-17 22:00:00+00:00,2022-09-17 01:22:08.495870+00:00
1,Hotel Travelodge Barcelona Poblenou - HB-004514,2013-04-24T17:26:25+02:00,2022-09-17T07:53:43.322628+02:00,68,2013-04-24 15:26:25+00:00,2022-09-17 05:53:43.322628+00:00
2,Hotel Catalonia Diagonal Centro - HB-003918,1996-09-18T00:00:00+02:00,2022-09-17T03:18:44.907834+02:00,7,1996-09-17 22:00:00+00:00,2022-09-17 01:18:44.907834+00:00
3,Hotel Spa Senator Barcelona - HB-004145,2001-09-01T00:00:00+02:00,2022-09-17T03:42:17.647564+02:00,20,2001-08-31 22:00:00+00:00,2022-09-17 01:42:17.647564+00:00
4,Hotel Acta Antibes - HB-000241,1996-09-18T00:00:00+02:00,2022-03-11T14:25:44.566881+01:00,5,1996-09-17 22:00:00+00:00,2022-03-11 13:25:44.566881+00:00
...,...,...,...,...,...,...
436,Hotel Catalonia Barcelona Golf - HB-004084,2001-06-09T00:00:00+02:00,2022-09-17T03:42:00.142943+02:00,26,2001-06-08 22:00:00+00:00,2022-09-17 01:42:00.142943+00:00
437,Hotel Paxton Barcelona - HB-004941,2022-05-24T12:39:28.325472+02:00,2022-05-24T12:42:16.688269+02:00,68,2022-05-24 10:39:28.325472+00:00,2022-05-24 10:42:16.688269+00:00
438,Hotel-Apartament Murmuri Residence - HB-004674,2015-07-30T18:17:50+02:00,2022-09-17T08:26:16.321496+02:00,7,2015-07-30 16:17:50+00:00,2022-09-17 06:26:16.321496+00:00
439,Hotel Acta Bcn 40 - HB-004468,2015-07-30T18:23:51+02:00,2022-09-17T08:26:16.415760+02:00,1,2015-07-30 16:23:51+00:00,2022-09-17 06:26:16.415760+00:00
440,Hotel Brummel - HB-004668,2015-07-30T18:36:17+02:00,2022-09-17T08:26:20.027321+02:00,11,2015-07-30 16:36:17+00:00,2022-09-17 06:26:20.027321+00:00

In [14]:
# vemos como las nuevas columnas son del tipo datetime
df_hoteles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 440
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       441 non-null    object
 1   created                    441 non-null    object
 2   modified                   441 non-null    object
 3   addresses_neighborhood_id  441 non-null    int64
 4   created_new                441 non-null    datetime64[ns, UTC]
 5   modified_new               441 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), int64(1), object(3)
memory usage: 24.1+ KB

In [15]:
# Creamos 5 conjunto de datos filtrando por los hoteles que fueron creados antes de cada año, para obtener cuantos tenemos para cada año
df_hoteles_2019 = df_hoteles[(df_hoteles['created_new'] < '2019-01-01')]
df_hoteles_2018 = df_hoteles[(df_hoteles['created_new'] < '2018-01-01')]
df_hoteles_2017 = df_hoteles[(df_hoteles['created_new'] < '2017-01-01')]
df_hoteles_2016 = df_hoteles[(df_hoteles['created_new'] < '2016-01-01')]
df_hoteles_2015 = df_hoteles[(df_hoteles['created_new'] < '2015-01-01')]

In [16]:
df_hoteles_2019.describe()

       addresses_neighborhood_id
count                 427.000000
mean                   14.709602
std                    18.792291
min                     1.000000
25%                     3.000000
50%                     7.000000
75%                    19.000000
max                    71.000000

In [17]:
# eliminamos las columnas que no nos hacen falta
df_hoteles_2019_clean = df_hoteles_2019.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)
df_hoteles_2018_clean = df_hoteles_2018.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)
df_hoteles_2017_clean = df_hoteles_2017.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)
df_hoteles_2016_clean = df_hoteles_2016.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)
df_hoteles_2015_clean = df_hoteles_2015.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)

In [ ]:
# visualizamos los resultados
df_hoteles_2019_clean

,name,addresses_neighborhood_id
0,Park Hotel - HB-000082,4
1,Hotel Travelodge Barcelona Poblenou - HB-004514,68
2,Hotel Catalonia Diagonal Centro - HB-003918,7
3,Hotel Spa Senator Barcelona - HB-004145,20
4,Hotel Acta Antibes - HB-000241,5
...,...,...
434,Hotel Travessera - HB-002043,30
436,Hotel Catalonia Barcelona Golf - HB-004084,26
438,Hotel-Apartament Murmuri Residence - HB-004674,7
439,Hotel Acta Bcn 40 - HB-004468,1
440,Hotel Brummel - HB-004668,11

In [18]:
# agrupamos por barrio y obtenemos el conteo del número de hoteles por barrio
grouped_df_hoteles_2019_clean = df_hoteles_2019_clean.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_hoteles_2018_clean = df_hoteles_2018_clean.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_hoteles_2017_clean = df_hoteles_2017_clean.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_hoteles_2016_clean = df_hoteles_2016_clean.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_hoteles_2015_clean = df_hoteles_2015_clean.groupby(['addresses_neighborhood_id']).count().reset_index()

In [19]:
# como hay barrios que no aparecen y para evitar tener null mas adelante, creo un dataframe con 73 elementos y hago un merge con el dataframe de datos rellenando con 0 los null

In [20]:
df = pd.DataFrame(np.arange(1,74), columns=["addresses_neighborhood_id"])

In [21]:
# realizo el merge de los datos con el dataframe vacio 
merged_df_hoteles_2019_clean = df.merge(grouped_df_hoteles_2019_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_hoteles_2018_clean = df.merge(grouped_df_hoteles_2018_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_hoteles_2017_clean = df.merge(grouped_df_hoteles_2017_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_hoteles_2016_clean = df.merge(grouped_df_hoteles_2016_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_hoteles_2015_clean = df.merge(grouped_df_hoteles_2015_clean, on='addresses_neighborhood_id', how='outer').fillna(0)

In [22]:
# creamos una nueva columna donde se indica el año de los datos
merged_df_hoteles_2019_clean['Any'] = 2019
merged_df_hoteles_2018_clean['Any'] = 2018
merged_df_hoteles_2017_clean['Any'] = 2017
merged_df_hoteles_2016_clean['Any'] = 2016
merged_df_hoteles_2015_clean['Any'] = 2015

In [23]:
# visualizamos los resultados
merged_df_hoteles_2015_clean

    addresses_neighborhood_id  name   Any
0                           1  44.0  2015
1                           2  44.0  2015
2                           3   5.0  2015
3                           4  17.0  2015
4                           5  10.0  2015
..                        ...   ...   ...
68                         69  10.0  2015
69                         70   1.0  2015
70                         71   1.0  2015
71                         72   0.0  2015
72                         73   0.0  2015

[73 rows x 3 columns]

## 4. Concatenación de los dataframes

In [24]:
# relizamos la concatenación de los datasets en un unico dataset
union_hoteles = pd.concat([merged_df_hoteles_2019_clean, merged_df_hoteles_2018_clean, merged_df_hoteles_2017_clean, \
                         merged_df_hoteles_2016_clean, merged_df_hoteles_2015_clean], ignore_index=True)

In [25]:
union_hoteles

     addresses_neighborhood_id  name   Any
0                            1  47.0  2019
1                            2  57.0  2019
2                            3   5.0  2019
3                            4  23.0  2019
4                            5  10.0  2019
..                         ...   ...   ...
360                         69  10.0  2015
361                         70   1.0  2015
362                         71   1.0  2015
363                         72   0.0  2015
364                         73   0.0  2015

[365 rows x 3 columns]

In [26]:
# revisamos la presencia de valores null
union_hoteles.isnull().any()

addresses_neighborhood_id    False
name                         False
Any                          False
dtype: bool

In [27]:
# renombramos las columnas para poder hacer la unión más adelante
union_hoteles.columns = union_hoteles.columns.str.replace('name', 'Hoteles')
union_hoteles.columns = union_hoteles.columns.str.replace('addresses_neighborhood_id', 'Codi_Barri')

In [28]:
union_hoteles

     Codi_Barri  Hoteles   Any
0             1     47.0  2019
1             2     57.0  2019
2             3      5.0  2019
3             4     23.0  2019
4             5     10.0  2019
..          ...      ...   ...
360          69     10.0  2015
361          70      1.0  2015
362          71      1.0  2015
363          72      0.0  2015
364          73      0.0  2015

[365 rows x 3 columns]

## 5. Escritura de datos

In [ ]:
union_hoteles.to_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_servicios/output_evolucion_servicios/union_hoteles.csv', index = False)