<a href="https://colab.research.google.com/github/dlopezuj/TFM_getrificacion_BCN/blob/main/PEC_parcs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Procesado de datos referentes a los parques y jardines

## 1. Lectura de datos referentes a los parques y jardines para los años entre 2019 y 2015

In [12]:
# import de las liberías
import pandas as pd 
import numpy as np

In [13]:
# disable chained assignments
pd.options.mode.chained_assignment = None

In [14]:
# Lectura de los dataframes creados
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [15]:
# se realiza la lectura del archivo csv que contiene los datos
df_parcs=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_servicios/parcs/opendatabcn_cultura_parcs-i-jardins.csv')

## 2. Exploracion de los datos

In [16]:
df_parcs

,register_id,name,institution_id,institution_name,created,modified,addresses_roadtype_id,addresses_roadtype_name,addresses_road_id,addresses_road_name,...,values_description,secondary_filters_id,secondary_filters_name,secondary_filters_fullpath,secondary_filters_tree,secondary_filters_asia_id,geo_epgs_25831_x,geo_epgs_25831_y,geo_epgs_4326_x,geo_epgs_4326_y
0,﻿99106121848,Jardins Can Farrero,NaN,NaN,1999-04-16T00:00:00+02:00,2021-05-03T16:03:01.954736+02:00,NaN,NaN,369408,Pg Zona Franca,...,NaN,55737068,Parcs i jardins,Planol BCN >> Cultura i lleure >> Parcs i jard...,651,65103002006000,428182.215737,4.578808e+06,41.357574,2.141406
1,﻿99036100235,Jardins del Baluard,NaN,NaN,1999-02-05T00:00:00+01:00,2022-10-24T11:29:09.805726+02:00,NaN,NaN,140203,Avinguda de les Drassanes,...,NaN,55737068,Parcs i jardins,Planol BCN >> Cultura i lleure >> Parcs i jard...,651,65103002006000,431100.127932,4.580823e+06,41.375982,2.176057
2,﻿99400199129,Interior d'Illa Jardins de Maria Baldó,NaN,NaN,2008-01-25T12:28:17+01:00,2021-05-03T16:06:55.758510+02:00,NaN,NaN,230805,Carrer de la Mare de Déu dels Reis,...,NaN,55737069,Interiors d'illa,Planol BCN >> Cultura i lleure >> Parcs i jard...,651,65103002006001,428622.764011,4.584986e+06,41.413254,2.145944
3,﻿99400199129,Interior d'Illa Jardins de Maria Baldó,NaN,NaN,2008-01-25T12:28:17+01:00,2021-05-03T16:06:55.758510+02:00,NaN,NaN,230805,Carrer de la Mare de Déu dels Reis,...,NaN,55737068,Parcs i jardins,Planol BCN >> Cultura i lleure >> Parcs i jard...,651,65103002006000,428622.764011,4.584986e+06,41.413254,2.145944
4,﻿99335120020,Jardins Pl. Sol de Baix,NaN,NaN,1999-12-01T00:00:00+01:00,2021-05-03T16:03:29.539142+02:00,NaN,NaN,700721,Gerard Piera,...,NaN,55737068,Parcs i jardins,Planol BCN >> Cultura i lleure >> Parcs i jard...,651,65103002006000,427228.246413,4.581609e+06,41.382719,2.129666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,﻿99335102401,Jardins Casa Bloc,NaN,NaN,1999-12-01T00:00:00+01:00,2021-05-03T16:03:27.908287+02:00,NaN,NaN,350705,Valentí Iglésias,...,NaN,55737068,Parcs i jardins,Planol BCN >> Cultura i lleure >> Parcs i jard...,651,65103002006000,432310.152711,4.588058e+06,41.441248,2.189717
390,﻿99335115236,Jardins Clara Campoamor,NaN,NaN,1999-12-01T00:00:00+01:00,2021-05-03T16:03:30.268051+02:00,NaN,NaN,144601,Av Diagonal,...,NaN,55737068,Parcs i jardins,Planol BCN >> Cultura i lleure >> Parcs i jard...,651,65103002006000,427160.559937,4.582226e+06,41.388270,2.128782
391,﻿99106140304,Jardí Botànic de Barcelona,9.940009e+10,Museu de Ciències Naturals de Barcelona,1999-04-16T00:00:00+02:00,2022-11-04T13:21:23.670872+01:00,NaN,NaN,700701,Carrer del Doctor Font i Quer,...,NaN,55731069,Museus,Planol BCN >> Cultura i lleure >> Biblioteques...,651,65103002000001,429639.660000,4.579519e+06,41.364103,2.158746
392,﻿99106140304,Jardí Botànic de Barcelona,9.940009e+10,Museu de Ciències Naturals de Barcelona,1999-04-16T00:00:00+02:00,2022-11-04T13:21:23.670872+01:00,NaN,NaN,700701,Carrer del Doctor Font i Quer,...,NaN,55731072,Museus municipals,Planol BCN >> Cultura i lleure >> Biblioteques...,651,65103002000004,429639.660000,4.579519e+06,41.364103,2.158746
393,﻿99106140304,Jardí Botànic de Barcelona,9.940009e+10,Museu de Ciències Naturals de Barcelona,1999-04-16T00:00:00+02:00,2022-11-04T13:21:23.670872+01:00,NaN,NaN,700701,Carrer del Doctor Font i Quer,...,NaN,55737068,Parcs i jardins,Planol BCN >> Cultura i lleure >> Parcs i jard...,651,65103002006000,429639.660000,4.579519e+06,41.364103,2.158746

Hay muchas columnas que contienen una gran cantidad de NaN y que no nos hacen falta, por tanto eliminamos estas columnas

In [17]:
# mostramos las columnas del conjunto de datos
df_parcs.columns

Index(['register_id', 'name', 'institution_id', 'institution_name', 'created',
       'modified', 'addresses_roadtype_id', 'addresses_roadtype_name',
       'addresses_road_id', 'addresses_road_name',
       'addresses_start_street_number', 'addresses_end_street_number',
       'addresses_neighborhood_id', 'addresses_neighborhood_name',
       'addresses_district_id', 'addresses_district_name',
       'addresses_zip_code', 'addresses_town', 'addresses_main_address',
       'addresses_type', 'values_id', 'values_attribute_id', 'values_category',
       'values_attribute_name', 'values_value', 'values_outstanding',
       'values_description', 'secondary_filters_id', 'secondary_filters_name',
       'secondary_filters_fullpath', 'secondary_filters_tree',
       'secondary_filters_asia_id', 'geo_epgs_25831_x', 'geo_epgs_25831_y',
       'geo_epgs_4326_x', 'geo_epgs_4326_y'],
      dtype='object')

## 3. Transformación de los datos

In [18]:
# eliminamos las columnas que no son necesarias
df_parcs = df_parcs.drop(['register_id', 'institution_id', 'institution_name','addresses_roadtype_id', 'addresses_roadtype_name', 'addresses_road_id', 'addresses_road_name' ,\
                              'addresses_start_street_number', 'addresses_end_street_number', 'addresses_neighborhood_name', \
                              'addresses_district_id', 'addresses_district_name', 'addresses_zip_code', 'addresses_town', 'addresses_main_address', \
                              'addresses_type', 'values_id', 'values_attribute_id', 'values_category', 'values_attribute_name', 'values_value', 'values_outstanding', \
                              'values_description', 'secondary_filters_id','secondary_filters_fullpath', 'secondary_filters_tree', \
                              'secondary_filters_asia_id', 'geo_epgs_25831_x', 'geo_epgs_25831_y', 'geo_epgs_4326_x', 'geo_epgs_4326_y', 'secondary_filters_name' \
                              ], axis=1)

In [19]:
df_parcs

,name,created,modified,addresses_neighborhood_id
0,Jardins Can Farrero,1999-04-16T00:00:00+02:00,2021-05-03T16:03:01.954736+02:00,13
1,Jardins del Baluard,1999-02-05T00:00:00+01:00,2022-10-24T11:29:09.805726+02:00,1
2,Interior d'Illa Jardins de Maria Baldó,2008-01-25T12:28:17+01:00,2021-05-03T16:06:55.758510+02:00,28
3,Interior d'Illa Jardins de Maria Baldó,2008-01-25T12:28:17+01:00,2021-05-03T16:06:55.758510+02:00,28
4,Jardins Pl. Sol de Baix,1999-12-01T00:00:00+01:00,2021-05-03T16:03:29.539142+02:00,19
...,...,...,...,...
389,Jardins Casa Bloc,1999-12-01T00:00:00+01:00,2021-05-03T16:03:27.908287+02:00,60
390,Jardins Clara Campoamor,1999-12-01T00:00:00+01:00,2021-05-03T16:03:30.268051+02:00,19
391,Jardí Botànic de Barcelona,1999-04-16T00:00:00+02:00,2022-11-04T13:21:23.670872+01:00,11
392,Jardí Botànic de Barcelona,1999-04-16T00:00:00+02:00,2022-11-04T13:21:23.670872+01:00,11
393,Jardí Botànic de Barcelona,1999-04-16T00:00:00+02:00,2022-11-04T13:21:23.670872+01:00,11

Hay algunos lugares que aparecen en varias categorias, por tanto eliminamos duplicados para obtener resultados consistentes

In [20]:
df_parcs = df_parcs.drop_duplicates()
df_parcs

,name,created,modified,addresses_neighborhood_id
0,Jardins Can Farrero,1999-04-16T00:00:00+02:00,2021-05-03T16:03:01.954736+02:00,13
1,Jardins del Baluard,1999-02-05T00:00:00+01:00,2022-10-24T11:29:09.805726+02:00,1
2,Interior d'Illa Jardins de Maria Baldó,2008-01-25T12:28:17+01:00,2021-05-03T16:06:55.758510+02:00,28
4,Jardins Pl. Sol de Baix,1999-12-01T00:00:00+01:00,2021-05-03T16:03:29.539142+02:00,19
5,Jardins de Rosa Mª Arquimbau,2009-10-19T13:45:27+02:00,2022-09-17T07:15:33.008213+02:00,71
...,...,...,...,...
387,Parc de la Vall d'Hebron,1997-07-28T00:00:00+02:00,2021-05-03T16:02:31.900091+02:00,41
388,Jardins de Massana,1999-04-16T00:00:00+02:00,2022-06-09T09:27:59.277940+02:00,62
389,Jardins Casa Bloc,1999-12-01T00:00:00+01:00,2021-05-03T16:03:27.908287+02:00,60
390,Jardins Clara Campoamor,1999-12-01T00:00:00+01:00,2021-05-03T16:03:30.268051+02:00,19
391,Jardí Botànic de Barcelona,1999-04-16T00:00:00+02:00,2022-11-04T13:21:23.670872+01:00,11

In [21]:
df_parcs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306 entries, 0 to 391
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       306 non-null    object
 1   created                    306 non-null    object
 2   modified                   306 non-null    object
 3   addresses_neighborhood_id  306 non-null    int64
dtypes: int64(1), object(3)
memory usage: 12.0+ KB

In [22]:
# creamos nuevas columnas de tipo datetime a raiz de creación y modificación, estas columnas parecen indicar cuando se creó el lugar y cuando se ha hecho una última modificación en el documento
df_parcs['created_new']= pd.to_datetime(df_parcs['created'],utc=True)
df_parcs['modified_new']= pd.to_datetime(df_parcs['modified'],utc=True)

In [24]:
# visualizamos los resultados
df_parcs

,name,created,modified,addresses_neighborhood_id,created_new,modified_new
0,Jardins Can Farrero,1999-04-16T00:00:00+02:00,2021-05-03T16:03:01.954736+02:00,13,1999-04-15 22:00:00+00:00,2021-05-03 14:03:01.954736+00:00
1,Jardins del Baluard,1999-02-05T00:00:00+01:00,2022-10-24T11:29:09.805726+02:00,1,1999-02-04 23:00:00+00:00,2022-10-24 09:29:09.805726+00:00
2,Interior d'Illa Jardins de Maria Baldó,2008-01-25T12:28:17+01:00,2021-05-03T16:06:55.758510+02:00,28,2008-01-25 11:28:17+00:00,2021-05-03 14:06:55.758510+00:00
4,Jardins Pl. Sol de Baix,1999-12-01T00:00:00+01:00,2021-05-03T16:03:29.539142+02:00,19,1999-11-30 23:00:00+00:00,2021-05-03 14:03:29.539142+00:00
5,Jardins de Rosa Mª Arquimbau,2009-10-19T13:45:27+02:00,2022-09-17T07:15:33.008213+02:00,71,2009-10-19 11:45:27+00:00,2022-09-17 05:15:33.008213+00:00
...,...,...,...,...,...,...
387,Parc de la Vall d'Hebron,1997-07-28T00:00:00+02:00,2021-05-03T16:02:31.900091+02:00,41,1997-07-27 22:00:00+00:00,2021-05-03 14:02:31.900091+00:00
388,Jardins de Massana,1999-04-16T00:00:00+02:00,2022-06-09T09:27:59.277940+02:00,62,1999-04-15 22:00:00+00:00,2022-06-09 07:27:59.277940+00:00
389,Jardins Casa Bloc,1999-12-01T00:00:00+01:00,2021-05-03T16:03:27.908287+02:00,60,1999-11-30 23:00:00+00:00,2021-05-03 14:03:27.908287+00:00
390,Jardins Clara Campoamor,1999-12-01T00:00:00+01:00,2021-05-03T16:03:30.268051+02:00,19,1999-11-30 23:00:00+00:00,2021-05-03 14:03:30.268051+00:00
391,Jardí Botànic de Barcelona,1999-04-16T00:00:00+02:00,2022-11-04T13:21:23.670872+01:00,11,1999-04-15 22:00:00+00:00,2022-11-04 12:21:23.670872+00:00

In [25]:
df_parcs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306 entries, 0 to 391
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       306 non-null    object
 1   created                    306 non-null    object
 2   modified                   306 non-null    object
 3   addresses_neighborhood_id  306 non-null    int64
 4   created_new                306 non-null    datetime64[ns, UTC]
 5   modified_new               306 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), int64(1), object(3)
memory usage: 16.7+ KB

In [26]:
# Creamos 5 conjunto de datos filtrando por los parques y jardines que fueron creados antes de cada año, para obtener cuantos tenemos para cada año
df_parcs_2019 = df_parcs[(df_parcs['created_new'] < '2019-01-01')]
df_parcs_2018 = df_parcs[(df_parcs['created_new'] < '2018-01-01')]
df_parcs_2017 = df_parcs[(df_parcs['created_new'] < '2017-01-01')]
df_parcs_2016 = df_parcs[(df_parcs['created_new'] < '2016-01-01')]
df_parcs_2015 = df_parcs[(df_parcs['created_new'] < '2015-01-01')]
#df_cultura_2019['Any'] = 2019

In [27]:
df_parcs_2019.describe()

       addresses_neighborhood_id
count                 294.000000
mean                   27.799320
std                    21.023566
min                     1.000000
25%                    11.000000
50%                    21.500000
75%                    41.000000
max                    72.000000

In [28]:
# eliminamos las columnas que no nos hacen falta
df_parcs_2019_clean = df_parcs_2019.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)
df_parcs_2018_clean = df_parcs_2018.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)
df_parcs_2017_clean = df_parcs_2017.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)
df_parcs_2016_clean = df_parcs_2016.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)
df_parcs_2015_clean = df_parcs_2015.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)

In [29]:
# agrupamos por barrio y obtenemos el conteo del número de parques y jardines a la cultura por barrio
grouped_df_parcs_2019_clean = df_parcs_2019_clean.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_parcs_2018_clean = df_parcs_2018_clean.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_parcs_2017_clean = df_parcs_2017_clean.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_parcs_2016_clean = df_parcs_2016_clean.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_parcs_2015_clean = df_parcs_2015_clean.groupby(['addresses_neighborhood_id']).count().reset_index()

In [30]:
grouped_df_parcs_2015_clean

    addresses_neighborhood_id  name
0                           1     7
1                           2     1
2                           3     2
3                           4     2
4                           5     6
5                           6     6
6                           7    12
7                           8     9
8                           9     9
9                          10     7
10                         11    24
11                         12     1
12                         13     9
13                         14     1
14                         16     2
15                         18     5
16                         19    12
17                         20     9
18                         21     8
19                         22     4
20                         23    11
21                         24     2
22                         25     6
23                         26     7
24                         27     7
25                         28     4
26                         29     1
27                         30     2
28                         31     2
29                         32     3
30                         33     3
31                         34     1
32                         35     2
33                         37     4
34                         38     1
35                         39     3
36                         40     4
37                         41     6
38                         42     2
39                         43     2
40                         45     4
41                         46     2
42                         48     3
43                         49     1
44                         50     2
45                         52     1
46                         58     1
47                         59     2
48                         60     4
49                         61     1
50                         62     2
51                         64     1
52                         65     3
53                         66     2
54                         67     6
55                         68     6
56                         69     8
57                         70     4
58                         71     2
59                         72     1

In [31]:
# como hay barrios que no aparecen y para evitar tener null mas adelante, creo un dataframe con 73 elementos y hago un merge con el dataframe de datos rellenando con 0 los null

In [32]:
df = pd.DataFrame(np.arange(1,74), columns=["addresses_neighborhood_id"])

In [33]:
# realizo el merge de los datos con el dataframe vacio 
merged_df_parcs_2019_clean = df.merge(grouped_df_parcs_2019_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_parcs_2018_clean = df.merge(grouped_df_parcs_2018_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_parcs_2017_clean = df.merge(grouped_df_parcs_2017_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_parcs_2016_clean = df.merge(grouped_df_parcs_2016_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_parcs_2015_clean = df.merge(grouped_df_parcs_2015_clean, on='addresses_neighborhood_id', how='outer').fillna(0)

In [34]:
merged_df_parcs_2015_clean

    addresses_neighborhood_id  name
0                           1   7.0
1                           2   1.0
2                           3   2.0
3                           4   2.0
4                           5   6.0
..                        ...   ...
68                         69   8.0
69                         70   4.0
70                         71   2.0
71                         72   1.0
72                         73   0.0

[73 rows x 2 columns]

In [35]:
# creamos una nueva columna donde se indica el año de los datos
merged_df_parcs_2019_clean['Any'] = 2019
merged_df_parcs_2018_clean['Any'] = 2018
merged_df_parcs_2017_clean['Any'] = 2017
merged_df_parcs_2016_clean['Any'] = 2016
merged_df_parcs_2015_clean['Any'] = 2015

In [ ]:
# visualizamos los resultados
merged_df_parcs_2019_clean

    addresses_neighborhood_id  name   Any
0                           1   8.0  2019
1                           2   2.0  2019
2                           3   2.0  2019
3                           4   2.0  2019
4                           5   7.0  2019
..                        ...   ...   ...
68                         69   8.0  2019
69                         70   5.0  2019
70                         71   2.0  2019
71                         72   2.0  2019
72                         73   0.0  2019

[73 rows x 3 columns]

## 4. Concatenación de los dataframes

In [36]:
# relizamos la concatenación de los datasets en un unico dataset
union_parcs = pd.concat([merged_df_parcs_2019_clean, merged_df_parcs_2018_clean, merged_df_parcs_2017_clean, \
                         merged_df_parcs_2016_clean, merged_df_parcs_2015_clean], ignore_index=True)

In [37]:
union_parcs

     addresses_neighborhood_id  name   Any
0                            1   8.0  2019
1                            2   2.0  2019
2                            3   2.0  2019
3                            4   2.0  2019
4                            5   7.0  2019
..                         ...   ...   ...
360                         69   8.0  2015
361                         70   4.0  2015
362                         71   2.0  2015
363                         72   1.0  2015
364                         73   0.0  2015

[365 rows x 3 columns]

In [38]:
# renombramos las columnas
union_parcs.columns = union_parcs.columns.str.replace('name', 'Parques')
union_parcs.columns = union_parcs.columns.str.replace('addresses_neighborhood_id', 'Codi_Barri')

In [39]:
union_parcs

     Codi_Barri  Parques   Any
0             1      8.0  2019
1             2      2.0  2019
2             3      2.0  2019
3             4      2.0  2019
4             5      7.0  2019
..          ...      ...   ...
360          69      8.0  2015
361          70      4.0  2015
362          71      2.0  2015
363          72      1.0  2015
364          73      0.0  2015

[365 rows x 3 columns]

In [40]:
union_parcs.isnull().any()

Codi_Barri    False
Parques       False
Any           False
dtype: bool

In [ ]:
union_parcs.to_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_servicios/output_evolucion_servicios/union_parques.csv', index = False)