<a href="https://colab.research.google.com/github/dlopezuj/TFM_getrificacion_BCN/blob/main/PEC_cultura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Procesado de datos referentes a las instalaciones de cultura

## 1. Lectura de datos referentes a las instalaciones de cultura para los años entre 2019 y 2015

In [7]:
# import de las liberías
import pandas as pd 
import numpy as np

In [8]:
# disable chained assignments
pd.options.mode.chained_assignment = None

In [9]:
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [10]:
# se realiza la lectura del archivo csv que contiene los datos
df_cultura=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_servicios/cultura/opendatabcn_cultura_cines-teatres-auditoris.csv')

## 2. Exploracion de los datos

In [11]:
df_cultura

,register_id,name,institution_id,institution_name,created,modified,addresses_roadtype_id,addresses_roadtype_name,addresses_road_id,addresses_road_name,...,values_description,secondary_filters_id,secondary_filters_name,secondary_filters_fullpath,secondary_filters_tree,secondary_filters_asia_id,geo_epgs_25831_x,geo_epgs_25831_y,geo_epgs_4326_x,geo_epgs_4326_y
0,﻿99400504551,Recursos d'Animació Intercultural RAI,NaN,NaN,2017-05-17T13:58:16+02:00,2022-09-17T08:59:21.119590+02:00,NaN,NaN,65607,C Carders,...,NaN,55732069,Cinemes,"Planol BCN >> Cultura i lleure >> Cinemes, tea...",651,65103002001001,431448.231317,4.581954e+06,41.386190,2.180092
1,﻿99400504551,Recursos d'Animació Intercultural RAI,NaN,NaN,2017-05-17T13:58:16+02:00,2022-09-17T08:59:21.119590+02:00,NaN,NaN,65607,C Carders,...,NaN,55732068,Teatres,"Planol BCN >> Cultura i lleure >> Cinemes, tea...",651,65103002001000,431448.231317,4.581954e+06,41.386190,2.180092
2,﻿99217141611,Gran Sarrià Multicines,NaN,NaN,1999-08-05T00:00:00+02:00,2021-12-13T09:54:01.945879+01:00,NaN,NaN,143904,Ronda del General Mitre,...,NaN,55732069,Cinemes,"Planol BCN >> Cultura i lleure >> Cinemes, tea...",651,65103002001001,427537.191144,4.582844e+06,41.393864,2.133213
3,﻿97314144540,Teatre Nacional de Catalunya,NaN,NaN,1997-11-10T00:00:00+01:00,2021-10-04T09:01:29.480704+02:00,NaN,NaN,701191,Plaça de les Arts,...,NaN,55732068,Teatres,"Planol BCN >> Cultura i lleure >> Cinemes, tea...",651,65103002001000,431965.109990,4.583451e+06,41.399718,2.186105
4,﻿99400108472,Teatre,9.216816e+10,Escola Cavall Bernat,2005-04-11T16:45:00+02:00,2022-09-17T06:23:29.860464+02:00,NaN,NaN,30602,Rbla Badal,...,NaN,55732068,Teatres,"Planol BCN >> Cultura i lleure >> Cinemes, tea...",651,65103002001000,427405.917966,4.580312e+06,41.371054,2.131946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,﻿92168176523,Teatre del Raval,NaN,NaN,1991-12-17T00:00:00+01:00,2021-09-02T09:38:59.062714+02:00,NaN,NaN,296600,C Sant Antoni Abat,...,NaN,55732068,Teatres,"Planol BCN >> Cultura i lleure >> Cinemes, tea...",651,65103002001000,430198.606618,4.581212e+06,41.379405,2.165233
192,﻿99400073713,Sala Ovidi Montllor,9.208602e+10,Mercat de les Flors Centre de les Arts de Movi...,2004-02-17T08:54:00+01:00,2022-09-17T06:10:37.526558+02:00,NaN,NaN,700685,Pl Margarida Xirgu,...,NaN,55732068,Teatres,"Planol BCN >> Cultura i lleure >> Cinemes, tea...",651,65103002001000,429538.345239,4.580250e+06,41.370679,2.157449
193,﻿99400025390,Sala de Projecció 35mm,9.208600e+10,Institut Français de Barcelone,2002-11-05T12:10:32+01:00,2022-09-17T05:59:04.945131+02:00,NaN,NaN,222501,C Moià,...,NaN,55732069,Cinemes,"Planol BCN >> Cultura i lleure >> Cinemes, tea...",651,65103002001001,429092.246001,4.582986e+06,41.395283,2.151795
194,﻿99026100242,Auditori Maria Dolors Camprubí,9.902610e+10,Centre Cívic Tomasa Cuevas - Les Corts,1999-01-26T00:00:00+01:00,2022-07-15T13:48:44.638497+02:00,NaN,NaN,202708,C Dolors Masferrer i Bosch,...,NaN,55732070,Auditoris,"Planol BCN >> Cultura i lleure >> Cinemes, tea...",651,65103002001002,427119.865416,4.581844e+06,41.384819,2.128342
195,﻿99202125502,Sala Cafè Teatre,7.599018e+10,Teatreneu Multisales,1999-07-21T00:00:00+02:00,2022-09-17T05:53:06.167012+02:00,NaN,NaN,334902,C Terol,...,NaN,55732068,Teatres,"Planol BCN >> Cultura i lleure >> Cinemes, tea...",651,65103002001000,429668.079221,4.583868e+06,41.403283,2.158580

hay muchas columnas que contienen una gran cantidad de NaN y que no nos hacen falta, por tanto eliminamos estas columnas

In [12]:
# mostramos las columnas del conjunto de datos
df_cultura.columns

Index(['register_id', 'name', 'institution_id', 'institution_name', 'created',
       'modified', 'addresses_roadtype_id', 'addresses_roadtype_name',
       'addresses_road_id', 'addresses_road_name',
       'addresses_start_street_number', 'addresses_end_street_number',
       'addresses_neighborhood_id', 'addresses_neighborhood_name',
       'addresses_district_id', 'addresses_district_name',
       'addresses_zip_code', 'addresses_town', 'addresses_main_address',
       'addresses_type', 'values_id', 'values_attribute_id', 'values_category',
       'values_attribute_name', 'values_value', 'values_outstanding',
       'values_description', 'secondary_filters_id', 'secondary_filters_name',
       'secondary_filters_fullpath', 'secondary_filters_tree',
       'secondary_filters_asia_id', 'geo_epgs_25831_x', 'geo_epgs_25831_y',
       'geo_epgs_4326_x', 'geo_epgs_4326_y'],
      dtype='object')

## 3. Transformación de los datos

In [13]:
# eliminamos las columnas que no son necesarias
df_cultura = df_cultura.drop(['register_id', 'institution_id', 'institution_name','addresses_roadtype_id', 'addresses_roadtype_name', 'addresses_road_id', 'addresses_road_name' ,\
                              'addresses_start_street_number', 'addresses_end_street_number', 'addresses_neighborhood_name', \
                              'addresses_district_id', 'addresses_district_name', 'addresses_zip_code', 'addresses_town', 'addresses_main_address', \
                              'addresses_type', 'values_id', 'values_attribute_id', 'values_category', 'values_attribute_name', 'values_value', 'values_outstanding', \
                              'values_description', 'secondary_filters_id','secondary_filters_fullpath', 'secondary_filters_tree', \
                              'secondary_filters_asia_id', 'geo_epgs_25831_x', 'geo_epgs_25831_y', 'geo_epgs_4326_x', 'geo_epgs_4326_y', 'secondary_filters_name' \
                              ], axis=1)

In [14]:
# visualizamos los resultados
df_cultura

,name,created,modified,addresses_neighborhood_id
0,Recursos d'Animació Intercultural RAI,2017-05-17T13:58:16+02:00,2022-09-17T08:59:21.119590+02:00,4
1,Recursos d'Animació Intercultural RAI,2017-05-17T13:58:16+02:00,2022-09-17T08:59:21.119590+02:00,4
2,Gran Sarrià Multicines,1999-08-05T00:00:00+02:00,2021-12-13T09:54:01.945879+01:00,24
3,Teatre Nacional de Catalunya,1997-11-10T00:00:00+01:00,2021-10-04T09:01:29.480704+02:00,5
4,Teatre,2005-04-11T16:45:00+02:00,2022-09-17T06:23:29.860464+02:00,16
...,...,...,...,...
191,Teatre del Raval,1991-12-17T00:00:00+01:00,2021-09-02T09:38:59.062714+02:00,1
192,Sala Ovidi Montllor,2004-02-17T08:54:00+01:00,2022-09-17T06:10:37.526558+02:00,11
193,Sala de Projecció 35mm,2002-11-05T12:10:32+01:00,2022-09-17T05:59:04.945131+02:00,26
194,Auditori Maria Dolors Camprubí,1999-01-26T00:00:00+01:00,2022-07-15T13:48:44.638497+02:00,19
195,Sala Cafè Teatre,1999-07-21T00:00:00+02:00,2022-09-17T05:53:06.167012+02:00,31

Hay algunos lugares que aparecen en varias categorias, por tanto eliminamos duplicados para obtener resultados consistentes

In [15]:
df_cultura = df_cultura.drop_duplicates()
df_cultura

,name,created,modified,addresses_neighborhood_id
0,Recursos d'Animació Intercultural RAI,2017-05-17T13:58:16+02:00,2022-09-17T08:59:21.119590+02:00,4
2,Gran Sarrià Multicines,1999-08-05T00:00:00+02:00,2021-12-13T09:54:01.945879+01:00,24
3,Teatre Nacional de Catalunya,1997-11-10T00:00:00+01:00,2021-10-04T09:01:29.480704+02:00,5
4,Teatre,2005-04-11T16:45:00+02:00,2022-09-17T06:23:29.860464+02:00,16
5,Teatre CCCB,2011-03-11T00:00:00+01:00,2022-09-17T07:33:04.478187+02:00,1
...,...,...,...,...
191,Teatre del Raval,1991-12-17T00:00:00+01:00,2021-09-02T09:38:59.062714+02:00,1
192,Sala Ovidi Montllor,2004-02-17T08:54:00+01:00,2022-09-17T06:10:37.526558+02:00,11
193,Sala de Projecció 35mm,2002-11-05T12:10:32+01:00,2022-09-17T05:59:04.945131+02:00,26
194,Auditori Maria Dolors Camprubí,1999-01-26T00:00:00+01:00,2022-07-15T13:48:44.638497+02:00,19
195,Sala Cafè Teatre,1999-07-21T00:00:00+02:00,2022-09-17T05:53:06.167012+02:00,31

In [16]:
df_cultura.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181 entries, 0 to 195
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       181 non-null    object
 1   created                    181 non-null    object
 2   modified                   181 non-null    object
 3   addresses_neighborhood_id  181 non-null    int64
dtypes: int64(1), object(3)
memory usage: 7.1+ KB

In [17]:
# creamos nuevas columnas de tipo datetime a raiz de creación y modificación, estas columnas parecen indicar cuando se creó el lugar y cuando se ha hecho una última modificación en el documento
df_cultura['created_new']= pd.to_datetime(df_cultura['created'],utc=True)
df_cultura['modified_new']= pd.to_datetime(df_cultura['modified'],utc=True)

In [18]:
df_cultura

,name,created,modified,addresses_neighborhood_id,created_new,modified_new
0,Recursos d'Animació Intercultural RAI,2017-05-17T13:58:16+02:00,2022-09-17T08:59:21.119590+02:00,4,2017-05-17 11:58:16+00:00,2022-09-17 06:59:21.119590+00:00
2,Gran Sarrià Multicines,1999-08-05T00:00:00+02:00,2021-12-13T09:54:01.945879+01:00,24,1999-08-04 22:00:00+00:00,2021-12-13 08:54:01.945879+00:00
3,Teatre Nacional de Catalunya,1997-11-10T00:00:00+01:00,2021-10-04T09:01:29.480704+02:00,5,1997-11-09 23:00:00+00:00,2021-10-04 07:01:29.480704+00:00
4,Teatre,2005-04-11T16:45:00+02:00,2022-09-17T06:23:29.860464+02:00,16,2005-04-11 14:45:00+00:00,2022-09-17 04:23:29.860464+00:00
5,Teatre CCCB,2011-03-11T00:00:00+01:00,2022-09-17T07:33:04.478187+02:00,1,2011-03-10 23:00:00+00:00,2022-09-17 05:33:04.478187+00:00
...,...,...,...,...,...,...
191,Teatre del Raval,1991-12-17T00:00:00+01:00,2021-09-02T09:38:59.062714+02:00,1,1991-12-16 23:00:00+00:00,2021-09-02 07:38:59.062714+00:00
192,Sala Ovidi Montllor,2004-02-17T08:54:00+01:00,2022-09-17T06:10:37.526558+02:00,11,2004-02-17 07:54:00+00:00,2022-09-17 04:10:37.526558+00:00
193,Sala de Projecció 35mm,2002-11-05T12:10:32+01:00,2022-09-17T05:59:04.945131+02:00,26,2002-11-05 11:10:32+00:00,2022-09-17 03:59:04.945131+00:00
194,Auditori Maria Dolors Camprubí,1999-01-26T00:00:00+01:00,2022-07-15T13:48:44.638497+02:00,19,1999-01-25 23:00:00+00:00,2022-07-15 11:48:44.638497+00:00
195,Sala Cafè Teatre,1999-07-21T00:00:00+02:00,2022-09-17T05:53:06.167012+02:00,31,1999-07-20 22:00:00+00:00,2022-09-17 03:53:06.167012+00:00

In [19]:
# vemos como las nuevas columnas son del tipo datetime
df_cultura.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181 entries, 0 to 195
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       181 non-null    object
 1   created                    181 non-null    object
 2   modified                   181 non-null    object
 3   addresses_neighborhood_id  181 non-null    int64
 4   created_new                181 non-null    datetime64[ns, UTC]
 5   modified_new               181 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), int64(1), object(3)
memory usage: 9.9+ KB

In [20]:
# Creamos 5 conjunto de datos filtrando por las instalaciones referentes a la cultura que fueron creadas antes de cada año, para obtener cuantos tenemos para cada año
df_cultura_2019 = df_cultura[(df_cultura['created_new'] < '2019-01-01')]
df_cultura_2018 = df_cultura[(df_cultura['created_new'] < '2018-01-01')]
df_cultura_2017 = df_cultura[(df_cultura['created_new'] < '2017-01-01')]
df_cultura_2016 = df_cultura[(df_cultura['created_new'] < '2016-01-01')]
df_cultura_2015 = df_cultura[(df_cultura['created_new'] < '2015-01-01')]

In [21]:
df_cultura_2019.describe()

       addresses_neighborhood_id
count                 177.000000
mean                   22.186441
std                    21.545255
min                     1.000000
25%                     5.000000
50%                    11.000000
75%                    31.000000
max                    72.000000

In [22]:
# eliminamos las columnas que no nos hacen falta
df_cultura_2019_clean = df_cultura_2019.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)
df_cultura_2018_clean = df_cultura_2018.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)
df_cultura_2017_clean = df_cultura_2017.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)
df_cultura_2016_clean = df_cultura_2016.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)
df_cultura_2015_clean = df_cultura_2015.drop(['created', 'modified', 'created_new', 'modified_new'], axis=1)

In [23]:
# agrupamos por barrio y obtenemos el conteo del número de instalaciones referentes a la cultura por barrio
grouped_df_cultura_2019_clean = df_cultura_2019_clean.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_cultura_2018_clean = df_cultura_2018_clean.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_cultura_2017_clean = df_cultura_2017_clean.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_cultura_2016_clean = df_cultura_2016_clean.groupby(['addresses_neighborhood_id']).count().reset_index()
grouped_df_cultura_2015_clean = df_cultura_2015_clean.groupby(['addresses_neighborhood_id']).count().reset_index()

In [24]:
# como hay barrios que no aparecen y para evitar tener null mas adelante, creo un dataframe con 73 elementos y hago un merge con el dataframe de datos rellenando con 0 los null

In [25]:
df = pd.DataFrame(np.arange(1,74), columns=["addresses_neighborhood_id"])

In [26]:
# realizo el merge de los datos con el dataframe vacio 
merged_df_cultura_2019_clean = df.merge(grouped_df_cultura_2019_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_cultura_2018_clean = df.merge(grouped_df_cultura_2018_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_cultura_2017_clean = df.merge(grouped_df_cultura_2017_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_cultura_2016_clean = df.merge(grouped_df_cultura_2016_clean, on='addresses_neighborhood_id', how='outer').fillna(0)
merged_df_cultura_2015_clean = df.merge(grouped_df_cultura_2015_clean, on='addresses_neighborhood_id', how='outer').fillna(0)

In [ ]:
# visualizamos los resultados
merged_df_cultura_2015_clean

    addresses_neighborhood_id  name
0                           1  21.0
1                           2   5.0
2                           3   1.0
3                           4   9.0
4                           5   6.0
..                        ...   ...
68                         69   1.0
69                         70   1.0
70                         71   0.0
71                         72   1.0
72                         73   0.0

[73 rows x 2 columns]

In [27]:
# creamos una nueva columna donde se indica el año de los datos
merged_df_cultura_2019_clean['Any'] = 2019
merged_df_cultura_2018_clean['Any'] = 2018
merged_df_cultura_2017_clean['Any'] = 2017
merged_df_cultura_2016_clean['Any'] = 2016
merged_df_cultura_2015_clean['Any'] = 2015

In [28]:
# visualizamos los resultados
merged_df_cultura_2015_clean

    addresses_neighborhood_id  name   Any
0                           1  21.0  2015
1                           2   5.0  2015
2                           3   1.0  2015
3                           4   9.0  2015
4                           5   6.0  2015
..                        ...   ...   ...
68                         69   1.0  2015
69                         70   1.0  2015
70                         71   0.0  2015
71                         72   1.0  2015
72                         73   0.0  2015

[73 rows x 3 columns]

In [29]:
#grouped_df_cultura_2021_clean.columns = grouped_df_cultura_2021_clean.columns.str.replace('name', 'cultura_2021')
#grouped_df_cultura_2020_clean.columns = grouped_df_cultura_2020_clean.columns.str.replace('name', 'cultura_2020')
merged_df_cultura_2019_clean.columns = merged_df_cultura_2019_clean.columns.str.replace('name', 'cultura')
merged_df_cultura_2018_clean.columns = merged_df_cultura_2018_clean.columns.str.replace('name', 'cultura')
merged_df_cultura_2017_clean.columns = merged_df_cultura_2017_clean.columns.str.replace('name', 'cultura')
merged_df_cultura_2016_clean.columns = merged_df_cultura_2016_clean.columns.str.replace('name', 'cultura')
merged_df_cultura_2015_clean.columns = merged_df_cultura_2015_clean.columns.str.replace('name', 'cultura')

## 4. Concatenación de los dataframes

In [30]:
# relizamos la concatenación de los datasets en un unico dataset
union_cultura = pd.concat([merged_df_cultura_2019_clean, merged_df_cultura_2018_clean, merged_df_cultura_2017_clean, \
                             merged_df_cultura_2016_clean, merged_df_cultura_2015_clean], ignore_index=True)

In [31]:
union_cultura

     addresses_neighborhood_id  cultura   Any
0                            1     23.0  2019
1                            2      5.0  2019
2                            3      1.0  2019
3                            4     11.0  2019
4                            5      6.0  2019
..                         ...      ...   ...
360                         69      1.0  2015
361                         70      1.0  2015
362                         71      0.0  2015
363                         72      1.0  2015
364                         73      0.0  2015

[365 rows x 3 columns]

In [32]:
# revisamos la presencia de valores null
union_cultura.isnull().any()

addresses_neighborhood_id    False
cultura                      False
Any                          False
dtype: bool

In [33]:
# renombramos la columna del código para poder unir los datasets más adelante
union_cultura.columns = union_cultura.columns.str.replace('addresses_neighborhood_id', 'Codi_Barri')

In [34]:
union_cultura

     Codi_Barri  cultura   Any
0             1     23.0  2019
1             2      5.0  2019
2             3      1.0  2019
3             4     11.0  2019
4             5      6.0  2019
..          ...      ...   ...
360          69      1.0  2015
361          70      1.0  2015
362          71      0.0  2015
363          72      1.0  2015
364          73      0.0  2015

[365 rows x 3 columns]

## 5. Escritura de datos

In [ ]:
union_cultura.to_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_servicios/output_evolucion_servicios/union_cultura.csv', index = False)