<a href="https://colab.research.google.com/github/dlopezuj/TFM_getrificacion_BCN/blob/main/Evolucion_demografica/PEC3_densidad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Procesado de datos de 2021

## 1.1 Lectura de Datos de edades 2021

https://opendata-ajuntament.barcelona.cat/data/en/dataset/est-densitat

In [ ]:
# Lectura de datos de Incidentes
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd 
df_densidad_2019=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/densidad poblacion/2019_densitat.csv')
df_densidad_2018=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/densidad poblacion/2018_densitat.csv')
df_densidad_2017=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/densidad poblacion/2017_densitat.csv')
df_densidad_2016=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/densidad poblacion/2016_densitat.csv')
df_densidad_2015=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/densidad poblacion/2015_densitat.csv')

In [ ]:
df_densidad_2016.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Superfície (ha),Densitat (hab/ha),Densitat neta (hab/ha)
0,2016,1,Ciutat Vella,1,el Raval,47129,109.8,429,948
1,2016,1,Ciutat Vella,2,el Barri Gòtic,15614,84.2,185,457
2,2016,1,Ciutat Vella,3,la Barceloneta,15021,131.4,114,1113
3,2016,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22306,111.4,200,689
4,2016,2,Eixample,5,el Fort Pienc,31653,92.9,341,948

## 1.2 Exploracion de los datos

In [ ]:
df_densidad_drop_2019 = df_densidad_2019.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Població', 'Superfície (ha)','Superfície Residencial (ha)', 'Densitat (hab/ha)'], axis=1)
df_densidad_drop_2018 = df_densidad_2018.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Població', 'Superfície (ha)','Superfície Residencial (ha)', 'Densitat (hab/ha)'], axis=1)
df_densidad_drop_2017 = df_densidad_2017.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Població', 'Superfície (ha)','Superfície Residencial (ha)', 'Densitat (hab/ha)'], axis=1)
df_densidad_drop_2016 = df_densidad_2016.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Població', 'Superfície (ha)', 'Densitat (hab/ha)'], axis=1)
df_densidad_drop_2015 = df_densidad_2015.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Població', 'Superfície (ha)', 'Densitat (hab/ha)'], axis=1)

In [ ]:
df_densidad_drop_2015

     Any  Codi_Barri  Densitat neta (hab/ha)
0   2015           1                     949
1   2015           2                     454
2   2015           3                    1149
3   2015           4                     695
4   2015           5                     944
..   ...         ...                     ...
68  2015          69                     581
69  2015          70                     891
70  2015          71                    1496
71  2015          72                    1147
72  2015          73                     717

[73 rows x 3 columns]

# Concat

In [ ]:
union_densidad = pd.concat([df_densidad_drop_2019, df_densidad_drop_2018, df_densidad_drop_2017, \
                             df_densidad_drop_2016, df_densidad_drop_2015], ignore_index=True)

In [ ]:
union_densidad.columns = union_densidad.columns.str.replace('Densitat neta (hab/ha)', 'Densidad neta (hab/ha)')

<ipython-input-7-c2be90ea39fd>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  union_densidad.columns = union_densidad.columns.str.replace('Densitat neta (hab/ha)', 'Densidad neta (hab/ha)')

In [ ]:
union_densidad

      Any  Codi_Barri  Densitat neta (hab/ha)
0    2019           1                     955
1    2019           2                     546
2    2019           3                    1097
3    2019           4                     697
4    2019           5                     962
..    ...         ...                     ...
360  2015          69                     581
361  2015          70                     891
362  2015          71                    1496
363  2015          72                    1147
364  2015          73                     717

[365 rows x 3 columns]

In [ ]:
union_densidad.to_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/output_evolucion_demografica/union_densidad.csv', index = False)